openapi: 3.2.0
info:
  contact:
    email: support@transifex.com
    name: Transifex Support
  description: '# Introduction


    This API is based on **{json:api}**.'
  title: Transifex Translation Memory API
  version: '3.0'
  x-logo:
    altText: Transifex logo
    backgroundColor: '#FFFFFF'
    url: transifex-blue-logo.svg
servers:
- url: https://rest.api.transifex.com
security:
- bearerAuth: []
tags:
- name: Translation Memory
paths:
  /tmx_async_downloads:
    summary: Create a tmx file download action
    post:
      description: 'The response represents the file download job. Check the job''s status

        and download the file itself once that is completed.'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              additionalProperties: false
              properties:
                data:
                  additionalProperties: false
                  description: Create tmx_async_download body request
                  properties:
                    attributes:
                      additionalProperties: false
                      properties:
                        callback_url:
                          default: null
                          description: 'The url that will be called when the processing is completed.

                            For more details about callback_url you can refer to [Asynchronous Processing](#section/Asynchronous-Processing) section

                            '
                          format: uri
                          type:
                          - string
                          - 'null'
                        email:
                          default: false
                          description: 'Whether to receive a link to the TMX file as an email

                            when it''s ready. The email address used will be the one

                            registered to the user making the API call

                            '
                          type: boolean
                        include_context:
                          default: false
                          deprecated: true
                          description: 'Whether to include context in the tmx file.<br>

                            <b>This attribute will be ignored. Context will always be included.</b><br>

                            '
                          type: boolean
                        include_untranslated:
                          default: false
                          deprecated: true
                          description: 'Whether to include untranslated entities in the tmx file.<br>

                            <b>This attribute will be ignored. Untranslated entities will not be included.</b><br>

                            '
                          type: boolean
                      type: object
                    relationships:
                      additionalProperties: false
                      description: Source Upload parent relationships
                      properties:
                        language:
                          additionalProperties: false
                          description: The `language` to compile the tmx for
                          properties:
                            data:
                              additionalProperties: false
                              description: Language data container.
                              properties:
                                id:
                                  description: Language identifier.
                                  example: l:en_US
                                  pattern: ^l:[a-zA-Z0-9@_.-]+$
                                  type: string
                                type:
                                  enum:
                                  - languages
                                  type: string
                              required:
                              - type
                              - id
                              type: object
                          required:
                          - data
                          type: object
                        project:
                          additionalProperties: false
                          description: The `project` to compile the tmx for
                          properties:
                            data:
                              additionalProperties: false
                              description: Project data container.
                              properties:
                                id:
                                  description: Project identifier.
                                  example: o:organization_slug:p:project_slug
                                  pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+$
                                  type: string
                                type:
                                  enum:
                                  - projects
                                  type: string
                              required:
                              - type
                              - id
                              type: object
                          required:
                          - data
                          type: object
                      required:
                      - project
                      type: object
                    type:
                      enum:
                      - tmx_async_downloads
                      type: string
                  required:
                  - type
                  - relationships
                  type: object
              required:
              - data
              type: object
        required: true
      responses:
        '202':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    additionalProperties: false
                    properties:
                      attributes:
                        additionalProperties: false
                        properties:
                          datetime_created:
                            example: XXXX-XX-XXTXX:XX:XXZ
                            format: date-time
                            type: string
                          datetime_modified:
                            example: XXXX-XX-XXTXX:XX:XXZ
                            format: date-time
                            type: string
                          errors:
                            items:
                              additionalProperties: false
                              properties:
                                code:
                                  example: parse_error
                                  type: string
                                detail:
                                  example: Could not decode JSON object
                                  type: string
                              required:
                              - code
                              - detail
                              type: object
                            type: array
                          status:
                            enum:
                            - pending
                            - processing
                            - failed
                            - succeeded
                            example: failed
                            type: string
                        required:
                        - status
                        - errors
                        - datetime_created
                        - datetime_modified
                        type: object
                      id:
                        example: 4abfc726-6a27-4c33-9d99-e5254c8df748
                        pattern: ^([0-9a-f]{32}|[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$
                        type: string
                      links:
                        additionalProperties: false
                        properties:
                          self:
                            example: /tmx_async_downloads/4abfc726-6a27-4c33-9d99-e5254c8df748
                            type: string
                        type: object
                      relationships:
                        additionalProperties: false
                        properties:
                          language:
                            additionalProperties: false
                            properties:
                              data:
                                additionalProperties: false
                                description: Language data container.
                                properties:
                                  id:
                                    description: Language identifier.
                                    example: l:en_US
                                    pattern: ^l:[a-zA-Z0-9@_.-]+$
                                    type: string
                                  type:
                                    enum:
                                    - languages
                                    type: string
                                required:
                                - type
                                - id
                                type: object
                              links:
                                additionalProperties: false
                                description: Language related link.
                                properties:
                                  related:
                                    description: Language details link.
                                    example: /languages/l:en_US
                                    type: string
                                required:
                                - related
                                type: object
                            required:
                            - links
                            - data
                            type: object
                          project:
                            additionalProperties: false
                            properties:
                              data:
                                additionalProperties: false
                                description: Project data container.
                                properties:
                                  id:
                                    description: Project identifier.
                                    example: o:organization_slug:p:project_slug
                                    pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+$
                                    type: string
                                  type:
                                    enum:
                                    - projects
                                    type: string
                                required:
                                - type
                                - id
                                type: object
                              links:
                                additionalProperties: false
                                description: Project links.
                                properties:
                                  related:
                                    description: Project details link.
                                    example: /projects/o:organization_slug:p:project_slug
                                    type: string
                                required:
                                - related
                                type: object
                            required:
                            - links
                            - data
                            type: object
                        required:
                        - project
                        type: object
                      type:
                        enum:
                        - tmx_async_downloads
                        type: string
                    required:
                    - type
                    - id
                    - attributes
                    - relationships
                    - links
                    type: object
                required:
                - data
                type: object
          description: Accepted
          headers:
            Content-Location:
              description: The location of the tmx download.
              required: true
              schema:
                type: string
        '400':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: invalid
                          type: string
                        detail:
                          example: Enter a valid `name` consisting of Unicode letters, numbers, underscores, or hyphens
                          type: string
                        source:
                          anyOf:
                          - properties:
                              pointer:
                                example: /data/attributes/name
                                type: string
                          - properties:
                              parameter:
                                example: ?filter[foo]
                                type: string
                        status:
                          example: '400'
                          type: string
                        title:
                          example: Field `name` is invalid
                          type: string
                      type: object
                    type: array
                type: object
          description: Invalid
        '401':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: unauthorized
                          type: string
                        detail:
                          example: Please verify your credentials
                          type: string
                        status:
                          example: '401'
                          type: string
                        title:
                          example: Unauthorized
                          type: string
                      type: object
                    type: array
                type: object
          description: Unauthorized
        '403':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: true
                      properties:
                        code:
                          example: forbidden
                          type: string
                        detail:
                          example: You do not have permissions to perform this action
                          type: string
                        status:
                          example: '403'
                          type: string
                        title:
                          example: Operation not allowed
                          type: string
                      type: object
                    type: array
                type: object
          description: Forbidden
        '404':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      properties:
                        code:
                          example: not found
                          type: string
                        detail:
                          example: Object not found. It may have been deleted or not been created yet
                          type: string
                        status:
                          example: '404'
                          type: string
                        title:
                          example: Object not found
                          type: string
                      type: object
                    type: array
                type: object
          description: Not found
        '409':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: conflict
                          type: string
                        detail:
                          example: Value `some_field_value` already exists
                          type: string
                        source:
                          additionalProperties: false
                          properties:
                            pointer:
                              example: /data/attributes/some_field
                              type: string
                          type: object
                        status:
                          example: '409'
                          type: string
                        title:
                          example: Field `some_field` conflicted
                          type: string
                      type: object
                    type: array
                type: object
          description: Conflict
        '500':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: server error
                          type: string
                        detail:
                          example: Something went wrong, please try again
                          type: string
                        status:
                          example: '500'
                          type: string
                        title:
                          example: Something went wrong
                          type: string
                      type: object
                    type: array
                type: object
          description: Internal Error
      summary: Create a tmx file download action
      tags:
      - Translation Memory
      x-released: true
      operationId: postTmxAsyncDownloads
      x-operation-id-source: derived
  /tmx_async_downloads/{tmx_async_download_id}:
    summary: Get tmx file download status
    get:
      description: 'With this endpoint, you can inquire about the status of an tmx file download job.


        - If the value of the ''status'' attribute is ''pending'' or ''processing'', you

        should check this endpoint again later.

        - If the ''status'' is ''failed'', the translation has failed to be compiled.

        - In case the upload job has been successful, you will receive a "303 - See

        Other" response and you can follow its `Location` to download the file.

        The download link will be valid for 30 days.'
      parameters:
      - description: Format of the tmx_async_download_id should be a UUID.
        in: path
        name: tmx_async_download_id
        required: true
        schema:
          example: 4abfc726-6a27-4c33-9d99-e5254c8df748
          pattern: ^([0-9a-f]{32}|[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    additionalProperties: false
                    properties:
                      attributes:
                        additionalProperties: false
                        properties:
                          datetime_created:
                            example: XXXX-XX-XXTXX:XX:XXZ
                            format: date-time
                            type: string
                          datetime_modified:
                            example: XXXX-XX-XXTXX:XX:XXZ
                            format: date-time
                            type: string
                          errors:
                            items:
                              additionalProperties: false
                              properties:
                                code:
                                  example: parse_error
                                  type: string
                                detail:
                                  example: Could not decode JSON object
                                  type: string
                              required:
                              - code
                              - detail
                              type: object
                            type: array
                          status:
                            enum:
                            - pending
                            - processing
                            - failed
                            - succeeded
                            example: failed
                            type: string
                        required:
                        - status
                        - errors
                        - datetime_created
                        - datetime_modified
                        type: object
                      id:
                        example: 4abfc726-6a27-4c33-9d99-e5254c8df748
                        pattern: ^([0-9a-f]{32}|[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$
                        type: string
                      links:
                        additionalProperties: false
                        properties:
                          self:
                            example: /tmx_async_downloads/4abfc726-6a27-4c33-9d99-e5254c8df748
                            type: string
                        type: object
                      relationships:
                        additionalProperties: false
                        properties:
                          language:
                            additionalProperties: false
                            properties:
                              data:
                                additionalProperties: false
                                description: Language data container.
                                properties:
                                  id:
                                    description: Language identifier.
                                    example: l:en_US
                                    pattern: ^l:[a-zA-Z0-9@_.-]+$
                                    type: string
                                  type:
                                    enum:
                                    - languages
                                    type: string
                                required:
                                - type
                                - id
                                type: object
                              links:
                                additionalProperties: false
                                description: Language related link.
                                properties:
                                  related:
                                    description: Language details link.
                                    example: /languages/l:en_US
                                    type: string
                                required:
                                - related
                                type: object
                            required:
                            - links
                            - data
                            type: object
                          project:
                            additionalProperties: false
                            properties:
                              data:
                                additionalProperties: false
                                description: Project data container.
                                properties:
                                  id:
                                    description: Project identifier.
                                    example: o:organization_slug:p:project_slug
                                    pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+$
                                    type: string
                                  type:
                                    enum:
                                    - projects
                                    type: string
                                required:
                                - type
                                - id
                                type: object
                              links:
                                additionalProperties: false
                                description: Project links.
                                properties:
                                  related:
                                    description: Project details link.
                                    example: /projects/o:organization_slug:p:project_slug
                                    type: string
                                required:
                                - related
                                type: object
                            required:
                            - links
                            - data
                            type: object
                        required:
                        - project
                        type: object
                      type:
                        enum:
                        - tmx_async_downloads
                        type: string
                    required:
                    - type
                    - id
                    - attributes
                    - relationships
                    - links
                    type: object
                required:
                - data
                type: object
          description: Successful response
        '303':
          content:
            application/vnd.api+json:
              schema: {}
          description: See other
          headers:
            Location:
              description: The location of the TMX file.
              required: true
              schema:
                example: https://storage.svc.transifex.net/files/663a7a83-cb15-4c72-a37d-125dfb8432a6-file?auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZXMiOiJkb3dubG9hZCIsIm1ldGFkYXRhIjpudWxsLCJmaWxlX2lkcyI6IjY2M2E3YTgzLWNiMTUtNGM3Mi1hMzdkLTEyNWRmYjg0MzJhNi1maWxlIiwiZXhwIjoxNTg0NzE3NTkzLCJwcm92aWRlciI6InR4YyJ9.IHgLS4gtL0A6YZd-2zKkrg__geitcvs9DV8LcE8-1io
                type: string
        '401':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: unauthorized
                          type: string
                        detail:
                          example: Please verify your credentials
                          type: string
                        status:
                          example: '401'
                          type: string
                        title:
                          example: Unauthorized
                          type: string
                      type: object
                    type: array
                type: object
          description: Unauthorized
        '403':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: true
                      properties:
                        code:
                          example: forbidden
                          type: string
                        detail:
                          example: You do not have permissions to perform this action
                          type: string
                        status:
                          example: '403'
                          type: string
                        title:
                          example: Operation not allowed
                          type: string
                      type: object
                    type: array
                type: object
          description: Forbidden
        '404':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      properties:
                        code:
                          example: not found
                          type: string
                        detail:
                          example: Object not found. It may have been deleted or not been created yet
                          type: string
                        status:
                          example: '404'
                          type: string
                        title:
                          example: Object not found
                          type: string
                      type: object
                    type: array
                type: object
          description: Not found
        '500':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: server error
                          type: string
                        detail:
                          example: Something went wrong, please try again
                          type: string
                        status:
                          example: '500'
                          type: string
                        title:
                          example: Something went wrong
                          type: string
                      type: object
                    type: array
                type: object
          description: Internal Error
      summary: Get tmx file download status
      tags:
      - Translation Memory
      x-released: true
      operationId: getTmxAsyncDownloadsByTmxAsyncDownloadId
      x-operation-id-source: derived
  /tmx_async_uploads:
    summary: Create new TMX file upload.
    post:
      description: 'Upload a new TMX file for a project.

        The response represents the file upload job. Check the job''s status to determine it''s completion.'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              additionalProperties: false
              properties:
                data:
                  additionalProperties: false
                  description: Create tmx_async_upload body request details
                  properties:
                    attributes:
                      additionalProperties: false
                      description: TMX Upload attributes
                      properties:
                        callback_url:
                          default: null
                          description: 'The url that will be called when the processing is completed.

                            For more details about callback_url you can refer to [Asynchronous Processing](#section/Asynchronous-Processing) section

                            '
                          format: uri
                          type:
                          - string
                          - 'null'
                        content:
                          description: The file to upload json or base64 encoded
                          example: <tmx></header><body><tu><tuv xml:lang="en"><seg>hello</seg></tuv><tuv xml:lang="el"><seg>Γειά σου</seg></tuv></tu></body></tmx>
                          type: string
                        content_encoding:
                          description: The encoding of the file
                          enum:
                          - text
                          - base64
                          type: string
                        override:
                          default: false
                          description: Whether to override the tm when uploading a tmx file
                          type: boolean
                      required:
                      - content
                      - content_encoding
                    relationships:
                      additionalProperties: false
                      description: TMX Upload parent relationships
                      properties:
                        language:
                          additionalProperties: false
                          description: The language that should be parsed
                          properties:
                            data:
                              additionalProperties: false
                              description: Language data container.
                              properties:
                                id:
                                  description: Language identifier.
                                  example: l:en_US
                                  pattern: ^l:[a-zA-Z0-9@_.-]+$
                                  type: string
                                type:
                                  enum:
                                  - languages
                                  type: string
                              required:
                              - type
                              - id
                              type: object
                          required:
                          - data
                          type: object
                        project:
                          additionalProperties: false
                          description: The project the TMX upload should belong to
                          properties:
                            data:
                              additionalProperties: false
                              description: Project data container.
                              properties:
                                id:
                                  description: Project identifier.
                                  example: o:organization_slug:p:project_slug
                                  pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+$
                                  type: string
                                type:
                                  enum:
                                  - projects
                                  type: string
                              required:
                              - type
                              - id
                              type: object
                          required:
                          - data
                          type: object
                      required:
                      - project
                      type: object
                    type:
                      enum:
                      - tmx_async_uploads
                      type: string
                  required:
                  - type
                  - attributes
                  - relationships
                  type: object
              required:
              - data
              type: object
          multipart/form-data:
            schema:
              additionalProperties: false
              properties:
                callback_url:
                  default: null
                  description: 'The url that will be called when the processing is completed.

                    For more details about callback_url you can refer to [Asynchronous Processing](#section/Asynchronous-Processing) section

                    '
                  format: uri
                  type:
                  - string
                  - 'null'
                content:
                  description: The file to upload
                  example: FILE
                  format: binary
                  type: string
                language_id:
                  description: Language identifier.
                  example: l:en_US
                  pattern: ^l:[a-zA-Z0-9@_.-]+$
                  type: string
                override:
                  default: false
                  type: boolean
                project_id:
                  description: Project identifier.
                  example: o:organization_slug:p:project_slug
                  pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+$
                  type: string
              required:
              - content
              - project_id
        required: true
      responses:
        '202':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    additionalProperties: false
                    properties:
                      attributes:
                        additionalProperties: false
                        properties:
                          datetime_created:
                            example: XXXX-XX-XXTXX:XX:XXZ
                            format: date-time
                            type: string
                          errors:
                            items:
                              additionalProperties: false
                              properties:
                                code:
                                  example: parse_error
                                  type: string
                                detail:
                                  example: Could not decode JSON object
                                  type: string
                              required:
                              - code
                              - detail
                              type: object
                            type: array
                          override:
                            type: boolean
                          status:
                            enum:
                            - pending
                            - processing
                            - validated
                            - failed
                            - succeeded
                            type: string
                        required:
                        - status
                        - override
                        - datetime_created
                        - errors
                        type: object
                      id:
                        example: 4abfc726-6a27-4c33-9d99-e5254c8df748
                        pattern: ^([0-9a-f]{32}|[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$
                        type: string
                      links:
                        additionalProperties: false
                        properties:
                          self:
                            example: /tmx_async_uploads/4abfc726-6a27-4c33-9d99-e5254c8df748
                            type: string
                        type: object
                      relationships:
                        additionalProperties: false
                        properties:
                          language:
                            additionalProperties: false
                            properties:
                              data:
                                additionalProperties: false
                                description: Language data container.
                                properties:
                                  id:
                                    description: Language identifier.
                                    example: l:en_US
                                    pattern: ^l:[a-zA-Z0-9@_.-]+$
                                    type: string
                                  type:
                                    enum:
                                    - languages
                                    type: string
                                required:
                                - type
                                - id
                                type: object
                              links:
                                additionalProperties: false
                                description: Language related link.
                                properties:
                                  related:
                                    description: Language details link.
                                    example: /languages/l:en_US
                                    type: string
                                required:
                                - related
                                type: object
                            required:
                            - links
                            - data
                            type: object
                          project:
                            additionalProperties: false
                            properties:
                              data:
                                additionalProperties: false
                                description: Project data container.
                                properties:
                                  id:
                                    description: Project identifier.
                                    example: o:organization_slug:p:project_slug
                                    pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+$
                                    type: string
                                  type:
                                    enum:
                                    - projects
                                    type: string
                                required:
                                - type
                                - id
                                type: object
                              links:
                                additionalProperties: false
                                description: Project links.
                                properties:
                                  related:
                                    description: Project details link.
                                    example: /projects/o:organization_slug:p:project_slug
                                    type: string
                                required:
                                - related
                                type: object
                            required:
                            - links
                            - data
                            type: object
                        required:
                        - project
                        type: object
                      type:
                        enum:
                        - tmx_async_uploads
                        type: string
                    required:
                    - type
                    - id
                    - attributes
                    - relationships
                    - links
                    type: object
                required:
                - data
                type: object
          description: Accepted
          headers:
            Content-Location:
              description: The location of the TMX upload
              required: true
              schema:
                type: string
        '400':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: invalid
                          type: string
                        detail:
                          example: Enter a valid `name` consisting of Unicode letters, numbers, underscores, or hyphens
                          type: string
                        source:
                          anyOf:
                          - properties:
                              pointer:
                                example: /data/attributes/name
                                type: string
                          - properties:
                              parameter:
                                example: ?filter[foo]
                                type: string
                        status:
                          example: '400'
                          type: string
                        title:
                          example: Field `name` is invalid
                          type: string
                      type: object
                    type: array
                type: object
          description: Invalid
        '401':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: unauthorized
                          type: string
                        detail:
                          example: Please verify your credentials
                          type: string
                        status:
                          example: '401'
                          type: string
                        title:
                          example: Unauthorized
                          type: string
                      type: object
                    type: array
                type: object
          description: Unauthorized
        '403':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: true
                      properties:
                        code:
                          example: forbidden
                          type: string
                        detail:
                          example: You do not have permissions to perform this action
                          type: string
                        status:
                          example: '403'
                          type: string
                        title:
                          example: Operation not allowed
                          type: string
                      type: object
                    type: array
                type: object
          description: Forbidden
        '404':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      properties:
                        code:
                          example: not found
                          type: string
                        detail:
                          example: Object not found. It may have been deleted or not been created yet
                          type: string
                        status:
                          example: '404'
                          type: string
                        title:
                          example: Object not found
                          type: string
                      type: object
                    type: array
                type: object
          description: Not found
        '409':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: conflict
                          type: string
                        detail:
                          example: Value `some_field_value` already exists
                          type: string
                        source:
                          additionalProperties: false
                          properties:
                            pointer:
                              example: /data/attributes/some_field
                              type: string
                          type: object
                        status:
                          example: '409'
                          type: string
                        title:
                          example: Field `some_field` conflicted
                          type: string
                      type: object
                    type: array
                type: object
          description: Conflict
        '500':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: server error
                          type: string
                        detail:
                          example: Something went wrong, please try again
                          type: string
                        status:
                          example: '500'
                          type: string
                        title:
                          example: Something went wrong
                          type: string
                      type: object
                    type: array
                type: object
          description: Internal Error
      summary: Create new TMX file upload
      tags:
      - Translation Memory
      x-released: true
      operationId: postTmxAsyncUploads
      x-operation-id-source: derived
  /tmx_async_uploads/{tmx_async_upload_id}:
    summary: Get a TMX async upload status
    get:
      description: 'With this endpoint, you can inquire about the status of an tmx file upload job.


        - If the value of the ''status'' attribute is ''pending'' or ''processing'', you

        should check this endpoint again later.

        - If the ''status'' is ''failed'', the upload has failed to be parsed or validated.

        - In case the upload job has been successful, you will receive a ''succeeded''

        value for the ''status'' attribute.'
      parameters:
      - description: Format of the tmx_async_upload_id should be a UUID.
        in: path
        name: tmx_async_upload_id
        required: true
        schema:
          example: 4abfc726-6a27-4c33-9d99-e5254c8df748
          pattern: ^([0-9a-f]{32}|[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    additionalProperties: false
                    properties:
                      attributes:
                        additionalProperties: false
                        properties:
                          datetime_created:
                            example: XXXX-XX-XXTXX:XX:XXZ
                            format: date-time
                            type: string
                          errors:
                            items:
                              additionalProperties: false
                              properties:
                                code:
                                  example: parse_error
                                  type: string
                                detail:
                                  example: Could not decode JSON object
                                  type: string
                              required:
                              - code
                              - detail
                              type: object
                            type: array
                          override:
                            type: boolean
                          status:
                            enum:
                            - pending
                            - processing
                            - validated
                            - failed
                            - succeeded
                            type: string
                        required:
                        - status
                        - override
                        - datetime_created
                        - errors
                        type: object
                      id:
                        example: 4abfc726-6a27-4c33-9d99-e5254c8df748
                        pattern: ^([0-9a-f]{32}|[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$
                        type: string
                      links:
                        additionalProperties: false
                        properties:
                          self:
                            example: /tmx_async_uploads/4abfc726-6a27-4c33-9d99-e5254c8df748
                            type: string
                        type: object
                      relationships:
                        additionalProperties: false
                        properties:
                          language:
                            additionalProperties: false
                            properties:
                              data:
                                additionalProperties: false
                                description: Language data container.
                                properties:
                                  id:
                                    description: Language identifier.
                                    example: l:en_US
                                    pattern: ^l:[a-zA-Z0-9@_.-]+$
                                    type: string
                                  type:
                                    enum:
                                    - languages
                                    type: string
                                required:
                                - type
                                - id
                                type: object
                              links:
                                additionalProperties: false
                                description: Language related link.
                                properties:
                                  related:
                                    description: Language details link.
                                    example: /languages/l:en_US
                                    type: string
                                required:
                                - related
                                type: object
                            required:
                            - links
                            - data
                            type: object
                          project:
                            additionalProperties: false
                            properties:
                              data:
                                additionalProperties: false
                                description: Project data container.
                                properties:
                                  id:
                                    description: Project identifier.
                                    example: o:organization_slug:p:project_slug
                                    pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+$
                                    type: string
                                  type:
                                    enum:
                                    - projects
                                    type: string
                                required:
                                - type
                                - id
                                type: object
                              links:
                                additionalProperties: false
                                description: Project links.
                                properties:
                                  related:
                                    description: Project details link.
                                    example: /projects/o:organization_slug:p:project_slug
                                    type: string
                                required:
                                - related
                                type: object
                            required:
                            - links
                            - data
                            type: object
                        required:
                        - project
                        type: object
                      type:
                        enum:
                        - tmx_async_uploads
                        type: string
                    required:
                    - type
                    - id
                    - attributes
                    - relationships
                    - links
                    type: object
                type: object
          description: Successful response
          headers:
            Location:
              schema:
                example: /projects/o:organization_slug:p:project_slug
                type: string
        '401':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: unauthorized
                          type: string
                        detail:
                          example: Please verify your credentials
                          type: string
                        status:
                          example: '401'
                          type: string
                        title:
                          example: Unauthorized
                          type: string
                      type: object
                    type: array
                type: object
          description: Unauthorized
        '403':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: true
                      properties:
                        code:
                          example: forbidden
                          type: string
                        detail:
                          example: You do not have permissions to perform this action
                          type: string
                        status:
                          example: '403'
                          type: string
                        title:
                          example: Operation not allowed
                          type: string
                      type: object
                    type: array
                type: object
          description: Forbidden
        '404':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      properties:
                        code:
                          example: not found
                          type: string
                        detail:
                          example: Object not found. It may have been deleted or not been created yet
                          type: string
                        status:
                          example: '404'
                          type: string
                        title:
                          example: Object not found
                          type: string
                      type: object
                    type: array
                type: object
          description: Not found
        '500':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: server error
                          type: string
                        detail:
                          example: Something went wrong, please try again
                          type: string
                        status:
                          example: '500'
                          type: string
                        title:
                          example: Something went wrong
                          type: string
                      type: object
                    type: array
                type: object
          description: Internal Error
      summary: Get a TMX async upload status
      tags:
      - Translation Memory
      x-released: true
      operationId: getTmxAsyncUploadsByTmxAsyncUploadId
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      description: 'To use the API you need to authenticate your requests using Token Authentication. Specifically, you need to


        * Acquire an authentication token from the Transifex (under user settings)

        * Uses the `Bearer` keyword and  prepend the token when passing the header.


        For example, if the authentication token is `1/0b4e75552e481aeae813aebad53f3de3fcc67ccd`, then the HTTP header should look like this:


        `Authorization: Bearer 1/0b4e75552e481aeae813aebad53f3de3fcc67ccd`


        To create an API token:


        1. Head to your User Settings by going to the main navigation, and clicking on your profile image in the top right corner.


        2. In the left menu, click on API token.


        3. Click Generate a token.


        Once you''ve generated a token, you can edit its name so it''s easier to remember where you use the token.


        To keep your API token secure, we''ll only show it once, so please be sure to save it somewhere secure.

        In case you lose your API token, you can regenerate a new one at any time. However, when you regenerate

        a new token, you''ll need to update your applications and replace the old token with the new one.

        '
      scheme: bearer
      type: http
