openapi: 3.2.0
info:
  contact:
    email: support@transifex.com
    name: Transifex Support
  description: '# Introduction


    This API is based on **{json:api}**.'
  title: Transifex Resources API
  version: '3.0'
  x-logo:
    altText: Transifex logo
    backgroundColor: '#FFFFFF'
    url: transifex-blue-logo.svg
servers:
- url: https://rest.api.transifex.com
security:
- bearerAuth: []
tags:
- description: Represents a resource that holds source strings. Resources belong to a specific project in Transifex.
  name: Resources
paths:
  /resource_async_merges:
    post:
      description: Merge git based branch
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              additionalProperties: false
              properties:
                data:
                  additionalProperties: false
                  description: Create resource merge.
                  properties:
                    attributes:
                      additionalProperties: false
                      description: Resource strings async download attributes
                      properties:
                        callback_url:
                          default: null
                          description: 'The url that will be called when the processing is completed.

                            For more details about callback_url you can refer to [Asynchronous Processing](#section/Asynchronous-Processing) section

                            '
                          format: uri
                          type:
                          - string
                          - 'null'
                        conflict_resolution:
                          description: Conflict resolution option.
                          enum:
                          - USE_HEAD
                          - USE_BASE
                          example: USE_HEAD
                          type: string
                        force:
                          default: false
                          example: false
                          type: boolean
                      required:
                      - conflict_resolution
                    relationships:
                      additionalProperties: false
                      properties:
                        resource:
                          additionalProperties: false
                          description: The resource that will be merged to its parent.
                          properties:
                            data:
                              additionalProperties: false
                              description: Resource data container.
                              properties:
                                id:
                                  description: Resource identifier.
                                  example: o:organization_slug:p:project_slug:r:resource_slug
                                  pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+$
                                  type: string
                                type:
                                  enum:
                                  - resources
                                  type: string
                              required:
                              - type
                              - id
                              type: object
                          required:
                          - data
                          type: object
                      required:
                      - resource
                      type: object
                    type:
                      enum:
                      - resource_async_merges
                      type: string
                  required:
                  - type
                  - attributes
                  - relationships
                  type: object
              required:
              - data
              type: object
        required: true
      responses:
        '202':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    additionalProperties: false
                    properties:
                      attributes:
                        additionalProperties: false
                        properties:
                          conflict_resolution:
                            enum:
                            - USE_HEAD
                            - USE_BASE
                            example: USE_HEAD
                            type: string
                          date_completed:
                            example: XXXX-XX-XXTXX:XX:XXZ
                            format: date-time
                            type:
                            - string
                            - 'null'
                          date_created:
                            example: XXXX-XX-XXTXX:XX:XXZ
                            format: date-time
                            type: string
                          status:
                            enum:
                            - CREATED
                            - CHANGES_CREATED
                            - COMPLETED
                            - HEAD_DELETED
                            example: CREATED
                            type: string
                        required:
                        - status
                        - conflict_resolution
                        - date_created
                        - date_completed
                        type: object
                      id:
                        example: 4abfc726-6a27-4c33-9d99-e5254c8df748
                        pattern: ^([0-9a-f]{32}|[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$
                        type: string
                      links:
                        additionalProperties: false
                        properties:
                          self:
                            example: /resource_strings_async_downloads/4abfc726-6a27-4c33-9d99-e5254c8df748
                            type: string
                        required:
                        - self
                        type: object
                      relationships:
                        additionalProperties: false
                        properties:
                          base:
                            additionalProperties: false
                            properties:
                              data:
                                additionalProperties: false
                                description: Resource data container.
                                properties:
                                  id:
                                    description: Resource identifier.
                                    example: o:organization_slug:p:project_slug:r:resource_slug
                                    pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+$
                                    type: string
                                  type:
                                    enum:
                                    - resources
                                    type: string
                                required:
                                - type
                                - id
                                type: object
                            required:
                            - data
                            type: object
                          head:
                            additionalProperties: false
                            properties:
                              data:
                                additionalProperties: false
                                description: Resource data container.
                                properties:
                                  id:
                                    description: Resource identifier.
                                    example: o:organization_slug:p:project_slug:r:resource_slug
                                    pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+$
                                    type: string
                                  type:
                                    enum:
                                    - resources
                                    type: string
                                required:
                                - type
                                - id
                                type: object
                            required:
                            - data
                            type: object
                        required:
                        - base
                        - head
                        type: object
                      type:
                        enum:
                        - resource_async_merges
                        type: string
                    required:
                    - type
                    - id
                    - attributes
                    - relationships
                    - links
                    type: object
                required:
                - data
                type: object
          description: Accepted.
          headers:
            Content-Location:
              description: The location of the merge resource job.
              required: true
              schema:
                type: string
        '400':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: invalid
                          type: string
                        detail:
                          example: Enter a valid `name` consisting of Unicode letters, numbers, underscores, or hyphens
                          type: string
                        source:
                          anyOf:
                          - properties:
                              pointer:
                                example: /data/attributes/name
                                type: string
                          - properties:
                              parameter:
                                example: ?filter[foo]
                                type: string
                        status:
                          example: '400'
                          type: string
                        title:
                          example: Field `name` is invalid
                          type: string
                      type: object
                    type: array
                type: object
          description: Invalid
        '401':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: unauthorized
                          type: string
                        detail:
                          example: Please verify your credentials
                          type: string
                        status:
                          example: '401'
                          type: string
                        title:
                          example: Unauthorized
                          type: string
                      type: object
                    type: array
                type: object
          description: Unauthorized
        '403':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: true
                      properties:
                        code:
                          example: forbidden
                          type: string
                        detail:
                          example: You do not have permissions to perform this action
                          type: string
                        status:
                          example: '403'
                          type: string
                        title:
                          example: Operation not allowed
                          type: string
                      type: object
                    type: array
                type: object
          description: Forbidden
        '404':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      properties:
                        code:
                          example: not found
                          type: string
                        detail:
                          example: Object not found. It may have been deleted or not been created yet
                          type: string
                        status:
                          example: '404'
                          type: string
                        title:
                          example: Object not found
                          type: string
                      type: object
                    type: array
                type: object
          description: Not found
        '409':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: conflict
                          type: string
                        detail:
                          example: Value `some_field_value` already exists
                          type: string
                        source:
                          additionalProperties: false
                          properties:
                            pointer:
                              example: /data/attributes/some_field
                              type: string
                          type: object
                        status:
                          example: '409'
                          type: string
                        title:
                          example: Field `some_field` conflicted
                          type: string
                      type: object
                    type: array
                type: object
          description: Conflict
        '429':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: Throttled
                          type: string
                        detail:
                          example: Request was throttled. Expected available in 60 seconds.
                          type: string
                        status:
                          example: '429'
                          type: string
                        title:
                          example: Throttled
                          type: string
                      type: object
                    type: array
                type: object
          description: Throttled
        '500':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: server error
                          type: string
                        detail:
                          example: Something went wrong, please try again
                          type: string
                        status:
                          example: '500'
                          type: string
                        title:
                          example: Something went wrong
                          type: string
                      type: object
                    type: array
                type: object
          description: Internal Error
      security:
      - bearerAuth: []
      summary: Create new resources merge
      tags:
      - Resources
      operationId: postResourceAsyncMerges
      x-operation-id-source: derived
  /resource_async_merges_{resource_async_merge_id}:
    parameters:
    - description: Format of the resource_async_merge_id should be a UUID.
      in: path
      name: resource_async_merge_id
      required: true
      schema:
        example: 4abfc726-6a27-4c33-9d99-e5254c8df748
        pattern: ^([0-9a-f]{32}|[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$
        type: string
    get:
      description: 'With this endpoint, you can inquire about the status of a resource merge job.


        - If the value of the ''status'' attribute is ''pending'' or ''processing'', you

        should check this endpoint again later.

        - If the ''status'' is ''failed'', the merge has failed to complete.

        - In case the upload job has been successful, you will receive a "200"'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    additionalProperties: false
                    properties:
                      attributes:
                        additionalProperties: false
                        properties:
                          conflict_resolution:
                            enum:
                            - USE_HEAD
                            - USE_BASE
                            example: USE_HEAD
                            type: string
                          date_completed:
                            example: XXXX-XX-XXTXX:XX:XXZ
                            format: date-time
                            type:
                            - string
                            - 'null'
                          date_created:
                            example: XXXX-XX-XXTXX:XX:XXZ
                            format: date-time
                            type: string
                          status:
                            enum:
                            - CREATED
                            - CHANGES_CREATED
                            - COMPLETED
                            - HEAD_DELETED
                            example: CREATED
                            type: string
                        required:
                        - status
                        - conflict_resolution
                        - date_created
                        - date_completed
                        type: object
                      id:
                        example: 4abfc726-6a27-4c33-9d99-e5254c8df748
                        pattern: ^([0-9a-f]{32}|[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$
                        type: string
                      links:
                        additionalProperties: false
                        properties:
                          self:
                            example: /resource_strings_async_downloads/4abfc726-6a27-4c33-9d99-e5254c8df748
                            type: string
                        required:
                        - self
                        type: object
                      relationships:
                        additionalProperties: false
                        properties:
                          base:
                            additionalProperties: false
                            properties:
                              data:
                                additionalProperties: false
                                description: Resource data container.
                                properties:
                                  id:
                                    description: Resource identifier.
                                    example: o:organization_slug:p:project_slug:r:resource_slug
                                    pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+$
                                    type: string
                                  type:
                                    enum:
                                    - resources
                                    type: string
                                required:
                                - type
                                - id
                                type: object
                            required:
                            - data
                            type: object
                          head:
                            additionalProperties: false
                            properties:
                              data:
                                additionalProperties: false
                                description: Resource data container.
                                properties:
                                  id:
                                    description: Resource identifier.
                                    example: o:organization_slug:p:project_slug:r:resource_slug
                                    pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+$
                                    type: string
                                  type:
                                    enum:
                                    - resources
                                    type: string
                                required:
                                - type
                                - id
                                type: object
                            required:
                            - data
                            type: object
                        required:
                        - base
                        - head
                        type: object
                      type:
                        enum:
                        - resource_async_merges
                        type: string
                    required:
                    - type
                    - id
                    - attributes
                    - relationships
                    - links
                    type: object
                required:
                - data
                type: object
          description: Successful response.
        '401':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: unauthorized
                          type: string
                        detail:
                          example: Please verify your credentials
                          type: string
                        status:
                          example: '401'
                          type: string
                        title:
                          example: Unauthorized
                          type: string
                      type: object
                    type: array
                type: object
          description: Unauthorized
        '403':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: true
                      properties:
                        code:
                          example: forbidden
                          type: string
                        detail:
                          example: You do not have permissions to perform this action
                          type: string
                        status:
                          example: '403'
                          type: string
                        title:
                          example: Operation not allowed
                          type: string
                      type: object
                    type: array
                type: object
          description: Forbidden
        '404':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      properties:
                        code:
                          example: not found
                          type: string
                        detail:
                          example: Object not found. It may have been deleted or not been created yet
                          type: string
                        status:
                          example: '404'
                          type: string
                        title:
                          example: Object not found
                          type: string
                      type: object
                    type: array
                type: object
          description: Not found
        '429':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: Throttled
                          type: string
                        detail:
                          example: Request was throttled. Expected available in 60 seconds.
                          type: string
                        status:
                          example: '429'
                          type: string
                        title:
                          example: Throttled
                          type: string
                      type: object
                    type: array
                type: object
          description: Throttled
        '500':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: server error
                          type: string
                        detail:
                          example: Something went wrong, please try again
                          type: string
                        status:
                          example: '500'
                          type: string
                        title:
                          example: Something went wrong
                          type: string
                      type: object
                    type: array
                type: object
          description: Internal Error
      security:
      - bearerAuth: []
      summary: Get resource merge status
      tags:
      - Resources
      operationId: getResourceAsyncMerges{resourceAsyncMergeId}
      x-operation-id-source: derived
  /resources:
    get:
      description: Get a list of all resources (in a specific project).
      parameters:
      - description: Filter results by a project
        in: query
        name: filter[project]
        required: true
        schema:
          description: Project identifier.
          example: o:organization_slug:p:project_slug
          pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+$
          type: string
      - description: 'The cursor used for pagination. The value of the cursor must be retrieved from pagination links included in previous responses; you should not attempt to write them on your own.

          '
        in: query
        name: page[cursor]
        schema:
          type: string
      - in: query
        name: filter[slug]
        required: false
        schema:
          pattern: ^[a-zA-Z0-9._-]+$
          type: string
      - in: query
        name: filter[name]
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of resource objects.
                    items:
                      additionalProperties: false
                      properties:
                        attributes:
                          additionalProperties: false
                          properties:
                            accept_translations:
                              description: Whether resource should accept translations or not
                              example: true
                              type: boolean
                            categories:
                              description: List of categories to associate similar resources
                              example:
                              - category_1
                              - category_2
                              items:
                                type: string
                              type: array
                            datetime_created:
                              example: XXXX-XX-XXTXX:XX:XXZ
                              format: date-time
                              type: string
                            datetime_modified:
                              example: XXXX-XX-XXTXX:XX:XXZ
                              format: date-time
                              type: string
                            i18n_options:
                              description: Any options that determine how the resource will be parsed and compiled
                              example:
                                allow_duplicate_strings: true
                              properties:
                                allow_duplicate_strings:
                                  description: If true, identical strings found in the resource will be parsed as separate strings; otherwise, identical strings will be considered as instances of the same string. Available in "HTML" i18n type resources.
                                  type: boolean
                              type:
                              - object
                              - 'null'
                            i18n_version:
                              description: File format type version.
                              example: 1
                              type: number
                            mp4_url:
                              description: A (public) url to provide an MP4 video file for subtitles translation
                              example: https://some.host.net/some_mp4_url
                              type:
                              - string
                              - 'null'
                            name:
                              description: Name of the resource
                              example: Resource Name
                              type: string
                            ogg_url:
                              description: A (public) url to provide an OGG video file for subtitles translation
                              example: https://some.host.net/some_ogg_url
                              type:
                              - string
                              - 'null'
                            priority:
                              enum:
                              - normal
                              - high
                              - urgent
                              example: normal
                              type: string
                            slug:
                              description: Slug of the resource
                              example: Slug Name
                              type: string
                            string_count:
                              description: Number of strings in the resource content.
                              example: 0
                              type: number
                            webm_url:
                              description: A (public) url to provide a WEMB video file for subtitles translation
                              example: https://some.host.net/some_webm_url
                              type:
                              - string
                              - 'null'
                            word_count:
                              description: Number of words in the resource content.
                              example: 0
                              type: number
                            youtube_url:
                              description: A (public) YouTube url to provide a video file for subtitles translation
                              example: https://www.youtube.com/
                              type:
                              - string
                              - 'null'
                          required:
                          - slug
                          - name
                          - i18n_version
                          - priority
                          - accept_translations
                          - categories
                          - i18n_options
                          - mp4_url
                          - ogg_url
                          - webm_url
                          - youtube_url
                          - string_count
                          - word_count
                          - datetime_created
                          - datetime_modified
                          type: object
                        id:
                          description: Resource identifier.
                          example: o:organization_slug:p:project_slug:r:resource_slug
                          pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+$
                          type: string
                        links:
                          additionalProperties: false
                          description: Resource links.
                          properties:
                            self:
                              description: Resource details link.
                              example: /resources/o:organization_slug:p:project_slug:r:resource_slug
                              type: string
                          required:
                          - self
                          type: object
                        relationships:
                          additionalProperties: false
                          description: Resource relationships.
                          properties:
                            i18n_format:
                              additionalProperties: false
                              description: I18n format object.
                              properties:
                                data:
                                  additionalProperties: false
                                  description: I18n Format identifier object.
                                  properties:
                                    id:
                                      example: YML_KEY
                                      pattern: ^[A-Z0-9@_-]+$
                                      type: string
                                    type:
                                      enum:
                                      - i18n_formats
                                      type: string
                                  required:
                                  - type
                                  - id
                                  type: object
                              required:
                              - data
                              type: object
                            project:
                              additionalProperties: false
                              description: Project object.
                              properties:
                                data:
                                  additionalProperties: false
                                  description: Project data container.
                                  properties:
                                    id:
                                      description: Project identifier.
                                      example: o:organization_slug:p:project_slug
                                      pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+$
                                      type: string
                                    type:
                                      enum:
                                      - projects
                                      type: string
                                  required:
                                  - type
                                  - id
                                  type: object
                                links:
                                  additionalProperties: false
                                  description: Project links.
                                  properties:
                                    related:
                                      description: Project details link.
                                      example: /projects/o:organization_slug:p:project_slug
                                      type: string
                                  required:
                                  - related
                                  type: object
                              required:
                              - links
                              - data
                              type: object
                          required:
                          - project
                          type: object
                        type:
                          enum:
                          - resources
                          type: string
                      required:
                      - type
                      - id
                      - attributes
                      - relationships
                      - links
                      type: object
                    type: array
                  links:
                    additionalProperties: false
                    description: Pagination links.
                    properties:
                      next:
                        description: Resource results cursor link.
                        example: /resources?filter[project]=o:organization_slug:p:project_slug&page[cursor]=XXX
                        type:
                        - string
                        - 'null'
                      previous:
                        description: Resource results cursor link.
                        example: /resources?filter[project]=o:organization_slug:p:project_slug&page[cursor]=XXX
                        type:
                        - string
                        - 'null'
                      self:
                        description: Resource results cursor link.
                        example: /resources?filter[project]=o:organization_slug:p:project_slug
                        type: string
                    required:
                    - self
                    - next
                    - previous
                    type: object
                required:
                - links
                - data
                type: object
          description: List of resources for a given project.
        '400':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: invalid
                          type: string
                        detail:
                          example: Enter a valid `name` consisting of Unicode letters, numbers, underscores, or hyphens
                          type: string
                        source:
                          anyOf:
                          - properties:
                              pointer:
                                example: /data/attributes/name
                                type: string
                          - properties:
                              parameter:
                                example: ?filter[foo]
                                type: string
                        status:
                          example: '400'
                          type: string
                        title:
                          example: Field `name` is invalid
                          type: string
                      type: object
                    type: array
                type: object
          description: Invalid
        '401':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: unauthorized
                          type: string
                        detail:
                          example: Please verify your credentials
                          type: string
                        status:
                          example: '401'
                          type: string
                        title:
                          example: Unauthorized
                          type: string
                      type: object
                    type: array
                type: object
          description: Unauthorized
        '403':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: true
                      properties:
                        code:
                          example: forbidden
                          type: string
                        detail:
                          example: You do not have permissions to perform this action
                          type: string
                        status:
                          example: '403'
                          type: string
                        title:
                          example: Operation not allowed
                          type: string
                      type: object
                    type: array
                type: object
          description: Forbidden
        '409':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: conflict
                          type: string
                        detail:
                          example: Value `some_field_value` already exists
                          type: string
                        source:
                          additionalProperties: false
                          properties:
                            pointer:
                              example: /data/attributes/some_field
                              type: string
                          type: object
                        status:
                          example: '409'
                          type: string
                        title:
                          example: Field `some_field` conflicted
                          type: string
                      type: object
                    type: array
                type: object
          description: Conflict
        '500':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: server error
                          type: string
                        detail:
                          example: Something went wrong, please try again
                          type: string
                        status:
                          example: '500'
                          type: string
                        title:
                          example: Something went wrong
                          type: string
                      type: object
                    type: array
                type: object
          description: Internal Error
      security:
      - bearerAuth: []
      summary: List resources
      tags:
      - Resources
      x-released: true
      operationId: getResources
      x-operation-id-source: derived
    post:
      description: 'Making a POST request to this endpoint creates a resource without content.

        This step is performed synchronously so you don''t have to verify that

        resource creation succeeded afterwards. In order to upload content, see the

        /resource_strings_async_uploads

        endpoint.'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              additionalProperties: false
              properties:
                data:
                  additionalProperties: false
                  description: Create resource body request details.
                  properties:
                    attributes:
                      additionalProperties: false
                      description: Resource attributes.
                      properties:
                        accept_translations:
                          description: Whether resource should accept translations or not
                          example: true
                          type: boolean
                        categories:
                          description: List of categories to associate similar resources
                          example:
                          - category_1
                          - category_2
                          items:
                            type: string
                          type: array
                        i18n_options:
                          description: Any options that determine how the resource will be parsed and compiled
                          example:
                            allow_duplicate_strings: true
                          properties:
                            allow_duplicate_strings:
                              description: If true, identical strings found in the resource will be parsed as separate strings; otherwise, identical strings will be considered as instances of the same string. Available in "HTML" i18n type resources.
                              type: boolean
                          type:
                          - object
                          - 'null'
                        mp4_url:
                          description: A (public) url to provide an MP4 video file for subtitles translation
                          example: https://some.host.net/some_mp4_url
                          type:
                          - string
                          - 'null'
                        name:
                          description: Name of the resource
                          example: Resource Name
                          type: string
                        ogg_url:
                          description: A (public) url to provide an OGG video file for subtitles translation
                          example: https://some.host.net/some_ogg_url
                          type:
                          - string
                          - 'null'
                        priority:
                          enum:
                          - normal
                          - high
                          - urgent
                          example: normal
                          type: string
                        slug:
                          description: Slug of the resource
                          example: Slug Name
                          type: string
                        webm_url:
                          description: A (public) url to provide a WEMB video file for subtitles translation
                          example: https://some.host.net/some_webm_url
                          type:
                          - string
                          - 'null'
                        youtube_url:
                          description: A (public) YouTube url to provide a video file for subtitles translation
                          example: https://www.youtube.com/
                          type:
                          - string
                          - 'null'
                      required:
                      - name
                      type: object
                    relationships:
                      additionalProperties: false
                      description: Resource parent relationships.
                      properties:
                        base:
                          additionalProperties: false
                          description: The base `resource` that this `resource` is a branch of.
                          properties:
                            data:
                              additionalProperties: false
                              description: Resource data container.
                              properties:
                                id:
                                  description: Resource identifier.
                                  example: o:organization_slug:p:project_slug:r:resource_slug
                                  pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+$
                                  type: string
                                type:
                                  enum:
                                  - resources
                                  type: string
                              required:
                              - type
                              - id
                              type: object
                          type:
                          - object
                          - 'null'
                        i18n_format:
                          additionalProperties: false
                          description: The `i18n_format` of the resource to create.
                          properties:
                            data:
                              additionalProperties: false
                              description: I18n Format identifier object.
                              properties:
                                id:
                                  example: YML_KEY
                                  pattern: ^[A-Z0-9@_-]+$
                                  type: string
                                type:
                                  enum:
                                  - i18n_formats
                                  type: string
                              required:
                              - type
                              - id
                              type: object
                          required:
                          - data
                          type: object
                        project:
                          additionalProperties: false
                          description: The `project` resource should belong to.
                          properties:
                            data:
                              additionalProperties: false
                              description: Project data container.
                              properties:
                                id:
                                  description: Project identifier.
                                  example: o:organization_slug:p:project_slug
                                  pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+$
                                  type: string
                                type:
                                  enum:
                                  - projects
                                  type: string
                              required:
                              - type
                              - id
                              type: object
                          required:
                          - data
                          type: object
                      required:
                      - project
                      - i18n_format
                      type: object
                    type:
                      enum:
                      - resources
                      type: string
                  required:
                  - type
                  - attributes
                  - relationships
                  type: object
              required:
              - data
              type: object
        required: true
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    additionalProperties: false
                    properties:
                      attributes:
                        additionalProperties: false
                        properties:
                          accept_translations:
                            description: Whether resource should accept translations or not
                            example: true
                            type: boolean
                          categories:
                            description: List of categories to associate similar resources
                            example:
                            - category_1
                            - category_2
                            items:
                              type: string
                            type: array
                          datetime_created:
                            example: XXXX-XX-XXTXX:XX:XXZ
                            format: date-time
                            type: string
                          datetime_modified:
                            example: XXXX-XX-XXTXX:XX:XXZ
                            format: date-time
                            type: string
                          i18n_options:
                            description: Any options that determine how the resource will be parsed and compiled
                            example:
                              allow_duplicate_strings: true
                            properties:
                              allow_duplicate_strings:
                                description: If true, identical strings found in the resource will be parsed as separate strings; otherwise, identical strings will be considered as instances of the same string. Available in "HTML" i18n type resources.
                                type: boolean
                            type:
                            - object
                            - 'null'
                          i18n_version:
                            description: File format type version.
                            example: 1
                            type: number
                          mp4_url:
                            description: A (public) url to provide an MP4 video file for subtitles translation
                            example: https://some.host.net/some_mp4_url
                            type:
                            - string
                            - 'null'
                          name:
                            description: Name of the resource
                            example: Resource Name
                            type: string
                          ogg_url:
                            description: A (public) url to provide an OGG video file for subtitles translation
                            example: https://some.host.net/some_ogg_url
                            type:
                            - string
                            - 'null'
                          priority:
                            enum:
                            - normal
                            - high
                            - urgent
                            example: normal
                            type: string
                          slug:
                            description: Slug of the resource
                            example: Slug Name
                            type: string
                          string_count:
                            description: Number of strings in the resource content.
                            example: 0
                            type: number
                          webm_url:
                            description: A (public) url to provide a WEMB video file for subtitles translation
                            example: https://some.host.net/some_webm_url
                            type:
                            - string
                            - 'null'
                          word_count:
                            description: Number of words in the resource content.
                            example: 0
                            type: number
                          youtube_url:
                            description: A (public) YouTube url to provide a video file for subtitles translation
                            example: https://www.youtube.com/
                            type:
                            - string
                            - 'null'
                        required:
                        - slug
                        - name
                        - i18n_version
                        - priority
                        - accept_translations
                        - categories
                        - i18n_options
                        - mp4_url
                        - ogg_url
                        - webm_url
                        - youtube_url
                        - string_count
                        - word_count
                        - datetime_created
                        - datetime_modified
                        type: object
                      id:
                        description: Resource identifier.
                        example: o:organization_slug:p:project_slug:r:resource_slug
                        pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+$
                        type: string
                      links:
                        additionalProperties: false
                        description: Resource links.
                        properties:
                          self:
                            description: Resource details link.
                            example: /resources/o:organization_slug:p:project_slug:r:resource_slug
                            type: string
                        required:
                        - self
                        type: object
                      relationships:
                        additionalProperties: false
                        description: Resource relationships.
                        properties:
                          i18n_format:
                            additionalProperties: false
                            description: I18n format object.
                            properties:
                              data:
                                additionalProperties: false
                                description: I18n Format identifier object.
                                properties:
                                  id:
                                    example: YML_KEY
                                    pattern: ^[A-Z0-9@_-]+$
                                    type: string
                                  type:
                                    enum:
                                    - i18n_formats
                                    type: string
                                required:
                                - type
                                - id
                                type: object
                            required:
                            - data
                            type: object
                          project:
                            additionalProperties: false
                            description: Project object.
                            properties:
                              data:
                                additionalProperties: false
                                description: Project data container.
                                properties:
                                  id:
                                    description: Project identifier.
                                    example: o:organization_slug:p:project_slug
                                    pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+$
                                    type: string
                                  type:
                                    enum:
                                    - projects
                                    type: string
                                required:
                                - type
                                - id
                                type: object
                              links:
                                additionalProperties: false
                                description: Project links.
                                properties:
                                  related:
                                    description: Project details link.
                                    example: /projects/o:organization_slug:p:project_slug
                                    type: string
                                required:
                                - related
                                type: object
                            required:
                            - links
                            - data
                            type: object
                        required:
                        - project
                        type: object
                      type:
                        enum:
                        - resources
                        type: string
                    required:
                    - type
                    - id
                    - attributes
                    - relationships
                    - links
                    type: object
                required:
                - data
                type: object
          description: Created.
          headers:
            Location:
              required: true
              schema:
                description: Resource details link.
                example: /resources/o:organization_slug:p:project_slug:r:resource_slug
                type: string
        '400':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: invalid
                          type: string
                        detail:
                          example: Enter a valid `name` consisting of Unicode letters, numbers, underscores, or hyphens
                          type: string
                        source:
                          anyOf:
                          - properties:
                              pointer:
                                example: /data/attributes/name
                                type: string
                          - properties:
                              parameter:
                                example: ?filter[foo]
                                type: string
                        status:
                          example: '400'
                          type: string
                        title:
                          example: Field `name` is invalid
                          type: string
                      type: object
                    type: array
                type: object
          description: Invalid
        '401':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: unauthorized
                          type: string
                        detail:
                          example: Please verify your credentials
                          type: string
                        status:
                          example: '401'
                          type: string
                        title:
                          example: Unauthorized
                          type: string
                      type: object
                    type: array
                type: object
          description: Unauthorized
        '403':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: true
                      properties:
                        code:
                          example: forbidden
                          type: string
                        detail:
                          example: You do not have permissions to perform this action
                          type: string
                        status:
                          example: '403'
                          type: string
                        title:
                          example: Operation not allowed
                          type: string
                      type: object
                    type: array
                type: object
          description: Forbidden
        '404':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      properties:
                        code:
                          example: not found
                          type: string
                        detail:
                          example: Object not found. It may have been deleted or not been created yet
                          type: string
                        status:
                          example: '404'
                          type: string
                        title:
                          example: Object not found
                          type: string
                      type: object
                    type: array
                type: object
          description: Not found
        '409':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: conflict
                          type: string
                        detail:
                          example: Value `some_field_value` already exists
                          type: string
                        source:
                          additionalProperties: false
                          properties:
                            pointer:
                              example: /data/attributes/some_field
                              type: string
                          type: object
                        status:
                          example: '409'
                          type: string
                        title:
                          example: Field `some_field` conflicted
                          type: string
                      type: object
                    type: array
                type: object
          description: Conflict
        '500':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: server error
                          type: string
                        detail:
                          example: Something went wrong, please try again
                          type: string
                        status:
                          example: '500'
                          type: string
                        title:
                          example: Something went wrong
                          type: string
                      type: object
                    type: array
                type: object
          description: Internal Error
      security:
      - bearerAuth: []
      summary: Create new resource
      tags:
      - Resources
      x-released: true
      operationId: postResources
      x-operation-id-source: derived
  /resources/{resource_id}:
    parameters:
    - description: Format of composite id should be `o:organization_slug:p:project_slug:r:resource_slug`.
      in: path
      name: resource_id
      required: true
      schema:
        description: Resource identifier.
        example: o:organization_slug:p:project_slug:r:resource_slug
        pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+$
        type: string
    delete:
      description: Delete a resource of a project.
      responses:
        '204':
          description: No Content.
        '401':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: unauthorized
                          type: string
                        detail:
                          example: Please verify your credentials
                          type: string
                        status:
                          example: '401'
                          type: string
                        title:
                          example: Unauthorized
                          type: string
                      type: object
                    type: array
                type: object
          description: Unauthorized
        '403':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: true
                      properties:
                        code:
                          example: forbidden
                          type: string
                        detail:
                          example: You do not have permissions to perform this action
                          type: string
                        status:
                          example: '403'
                          type: string
                        title:
                          example: Operation not allowed
                          type: string
                      type: object
                    type: array
                type: object
          description: Forbidden
        '404':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      properties:
                        code:
                          example: not found
                          type: string
                        detail:
                          example: Object not found. It may have been deleted or not been created yet
                          type: string
                        status:
                          example: '404'
                          type: string
                        title:
                          example: Object not found
                          type: string
                      type: object
                    type: array
                type: object
          description: Not found
        '500':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: server error
                          type: string
                        detail:
                          example: Something went wrong, please try again
                          type: string
                        status:
                          example: '500'
                          type: string
                        title:
                          example: Something went wrong
                          type: string
                      type: object
                    type: array
                type: object
          description: Internal Error
      security:
      - bearerAuth: []
      summary: Delete resource
      tags:
      - Resources
      x-released: true
      operationId: deleteResourcesByResourceId
      x-operation-id-source: derived
    get:
      description: Get details of a specific resource.
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    additionalProperties: false
                    properties:
                      attributes:
                        additionalProperties: false
                        properties:
                          accept_translations:
                            description: Whether resource should accept translations or not
                            example: true
                            type: boolean
                          categories:
                            description: List of categories to associate similar resources
                            example:
                            - category_1
                            - category_2
                            items:
                              type: string
                            type: array
                          datetime_created:
                            example: XXXX-XX-XXTXX:XX:XXZ
                            format: date-time
                            type: string
                          datetime_modified:
                            example: XXXX-XX-XXTXX:XX:XXZ
                            format: date-time
                            type: string
                          i18n_options:
                            description: Any options that determine how the resource will be parsed and compiled
                            example:
                              allow_duplicate_strings: true
                            properties:
                              allow_duplicate_strings:
                                description: If true, identical strings found in the resource will be parsed as separate strings; otherwise, identical strings will be considered as instances of the same string. Available in "HTML" i18n type resources.
                                type: boolean
                            type:
                            - object
                            - 'null'
                          i18n_version:
                            description: File format type version.
                            example: 1
                            type: number
                          mp4_url:
                            description: A (public) url to provide an MP4 video file for subtitles translation
                            example: https://some.host.net/some_mp4_url
                            type:
                            - string
                            - 'null'
                          name:
                            description: Name of the resource
                            example: Resource Name
                            type: string
                          ogg_url:
                            description: A (public) url to provide an OGG video file for subtitles translation
                            example: https://some.host.net/some_ogg_url
                            type:
                            - string
                            - 'null'
                          priority:
                            enum:
                            - normal
                            - high
                            - urgent
                            example: normal
                            type: string
                          slug:
                            description: Slug of the resource
                            example: Slug Name
                            type: string
                          string_count:
                            description: Number of strings in the resource content.
                            example: 0
                            type: number
                          webm_url:
                            description: A (public) url to provide a WEMB video file for subtitles translation
                            example: https://some.host.net/some_webm_url
                            type:
                            - string
                            - 'null'
                          word_count:
                            description: Number of words in the resource content.
                            example: 0
                            type: number
                          youtube_url:
                            description: A (public) YouTube url to provide a video file for subtitles translation
                            example: https://www.youtube.com/
                            type:
                            - string
                            - 'null'
                        required:
                        - slug
                        - name
                        - i18n_version
                        - priority
                        - accept_translations
                        - categories
                        - i18n_options
                        - mp4_url
                        - ogg_url
                        - webm_url
                        - youtube_url
                        - string_count
                        - word_count
                        - datetime_created
                        - datetime_modified
                        type: object
                      id:
                        description: Resource identifier.
                        example: o:organization_slug:p:project_slug:r:resource_slug
                        pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+$
                        type: string
                      links:
                        additionalProperties: false
                        description: Resource links.
                        properties:
                          self:
                            description: Resource details link.
                            example: /resources/o:organization_slug:p:project_slug:r:resource_slug
                            type: string
                        required:
                        - self
                        type: object
                      relationships:
                        additionalProperties: false
                        description: Resource relationships.
                        properties:
                          i18n_format:
                            additionalProperties: false
                            description: I18n format object.
                            properties:
                              data:
                                additionalProperties: false
                                description: I18n Format identifier object.
                                properties:
                                  id:
                                    example: YML_KEY
                                    pattern: ^[A-Z0-9@_-]+$
                                    type: string
                                  type:
                                    enum:
                                    - i18n_formats
                                    type: string
                                required:
                                - type
                                - id
                                type: object
                            required:
                            - data
                            type: object
                          project:
                            additionalProperties: false
                            description: Project object.
                            properties:
                              data:
                                additionalProperties: false
                                description: Project data container.
                                properties:
                                  id:
                                    description: Project identifier.
                                    example: o:organization_slug:p:project_slug
                                    pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+$
                                    type: string
                                  type:
                                    enum:
                                    - projects
                                    type: string
                                required:
                                - type
                                - id
                                type: object
                              links:
                                additionalProperties: false
                                description: Project links.
                                properties:
                                  related:
                                    description: Project details link.
                                    example: /projects/o:organization_slug:p:project_slug
                                    type: string
                                required:
                                - related
                                type: object
                            required:
                            - links
                            - data
                            type: object
                        required:
                        - project
                        type: object
                      type:
                        enum:
                        - resources
                        type: string
                    required:
                    - type
                    - id
                    - attributes
                    - relationships
                    - links
                    type: object
                required:
                - data
                type: object
          description: Successful Response.
        '401':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: unauthorized
                          type: string
                        detail:
                          example: Please verify your credentials
                          type: string
                        status:
                          example: '401'
                          type: string
                        title:
                          example: Unauthorized
                          type: string
                      type: object
                    type: array
                type: object
          description: Unauthorized
        '403':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: true
                      properties:
                        code:
                          example: forbidden
                          type: string
                        detail:
                          example: You do not have permissions to perform this action
                          type: string
                        status:
                          example: '403'
                          type: string
                        title:
                          example: Operation not allowed
                          type: string
                      type: object
                    type: array
                type: object
          description: Forbidden
        '404':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      properties:
                        code:
                          example: not found
                          type: string
                        detail:
                          example: Object not found. It may have been deleted or not been created yet
                          type: string
                        status:
                          example: '404'
                          type: string
                        title:
                          example: Object not found
                          type: string
                      type: object
                    type: array
                type: object
          description: Not found
        '500':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: server error
                          type: string
                        detail:
                          example: Something went wrong, please try again
                          type: string
                        status:
                          example: '500'
                          type: string
                        title:
                          example: Something went wrong
                          type: string
                      type: object
                    type: array
                type: object
          description: Internal Error
      security:
      - bearerAuth: []
      summary: Get resource details
      tags:
      - Resources
      x-released: true
      operationId: getResourcesByResourceId
      x-operation-id-source: derived
    patch:
      description: Update details of a resource.
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              additionalProperties: false
              properties:
                data:
                  additionalProperties: false
                  description: Update resource body request details.
                  properties:
                    attributes:
                      additionalProperties: false
                      description: Resource multable attributes
                      minProperties: 1
                      properties:
                        accept_translations:
                          description: Whether resource should accept translations or not
                          example: true
                          type: boolean
                        categories:
                          description: List of categories to associate similar resources
                          example:
                          - category_1
                          - category_2
                          items:
                            type: string
                          type: array
                        mp4_url:
                          description: A (public) url to provide an MP4 video file for subtitles translation
                          example: https://some.host.net/some_mp4_url
                          type:
                          - string
                          - 'null'
                        name:
                          description: Name of the resource
                          example: Resource Name
                          type: string
                        ogg_url:
                          description: A (public) url to provide an OGG video file for subtitles translation
                          example: https://some.host.net/some_ogg_url
                          type:
                          - string
                          - 'null'
                        priority:
                          enum:
                          - normal
                          - high
                          - urgent
                          example: normal
                          type: string
                        webm_url:
                          description: A (public) url to provide a WEMB video file for subtitles translation
                          example: https://some.host.net/some_webm_url
                          type:
                          - string
                          - 'null'
                        youtube_url:
                          description: A (public) YouTube url to provide a video file for subtitles translation
                          example: https://www.youtube.com/
                          type:
                          - string
                          - 'null'
                      type: object
                    id:
                      description: Resource identifier.
                      example: o:organization_slug:p:project_slug:r:resource_slug
                      pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+$
                      type: string
                    relationships:
                      additionalProperties: false
                      description: Resource modifiable relationships.
                      properties:
                        base:
                          additionalProperties: false
                          description: The base `resource` that this `resource` is a branch of.
                          properties:
                            data:
                              additionalProperties: false
                              description: Resource data container.
                              properties:
                                id:
                                  description: Resource identifier.
                                  example: o:organization_slug:p:project_slug:r:resource_slug
                                  pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+$
                                  type: string
                                type:
                                  enum:
                                  - resources
                                  type: string
                              required:
                              - type
                              - id
                              type: object
                          type:
                          - object
                          - 'null'
                      type: object
                    type:
                      enum:
                      - resources
                      type: string
                  required:
                  - type
                  - id
                  type: object
              required:
              - data
              type: object
        required: true
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  attributes:
                    additionalProperties: false
                    properties:
                      accept_translations:
                        description: Whether resource should accept translations or not
                        example: true
                        type: boolean
                      categories:
                        description: List of categories to associate similar resources
                        example:
                        - category_1
                        - category_2
                        items:
                          type: string
                        type: array
                      datetime_created:
                        example: XXXX-XX-XXTXX:XX:XXZ
                        format: date-time
                        type: string
                      datetime_modified:
                        example: XXXX-XX-XXTXX:XX:XXZ
                        format: date-time
                        type: string
                      i18n_options:
                        description: Any options that determine how the resource will be parsed and compiled
                        example:
                          allow_duplicate_strings: true
                        properties:
                          allow_duplicate_strings:
                            description: If true, identical strings found in the resource will be parsed as separate strings; otherwise, identical strings will be considered as instances of the same string. Available in "HTML" i18n type resources.
                            type: boolean
                        type:
                        - object
                        - 'null'
                      i18n_version:
                        description: File format type version.
                        example: 1
                        type: number
                      mp4_url:
                        description: A (public) url to provide an MP4 video file for subtitles translation
                        example: https://some.host.net/some_mp4_url
                        type:
                        - string
                        - 'null'
                      name:
                        description: Name of the resource
                        example: Resource Name
                        type: string
                      ogg_url:
                        description: A (public) url to provide an OGG video file for subtitles translation
                        example: https://some.host.net/some_ogg_url
                        type:
                        - string
                        - 'null'
                      priority:
                        enum:
                        - normal
                        - high
                        - urgent
                        example: normal
                        type: string
                      slug:
                        description: Slug of the resource
                        example: Slug Name
                        type: string
                      string_count:
                        description: Number of strings in the resource content.
                        example: 0
                        type: number
                      webm_url:
                        description: A (public) url to provide a WEMB video file for subtitles translation
                        example: https://some.host.net/some_webm_url
                        type:
                        - string
                        - 'null'
                      word_count:
                        description: Number of words in the resource content.
                        example: 0
                        type: number
                      youtube_url:
                        description: A (public) YouTube url to provide a video file for subtitles translation
                        example: https://www.youtube.com/
                        type:
                        - string
                        - 'null'
                    required:
                    - slug
                    - name
                    - i18n_version
                    - priority
                    - accept_translations
                    - categories
                    - i18n_options
                    - mp4_url
                    - ogg_url
                    - webm_url
                    - youtube_url
                    - string_count
                    - word_count
                    - datetime_created
                    - datetime_modified
                    type: object
                  id:
                    description: Resource identifier.
                    example: o:organization_slug:p:project_slug:r:resource_slug
                    pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+$
                    type: string
                  links:
                    additionalProperties: false
                    description: Resource links.
                    properties:
                      self:
                        description: Resource details link.
                        example: /resources/o:organization_slug:p:project_slug:r:resource_slug
                        type: string
                    required:
                    - self
                    type: object
                  relationships:
                    additionalProperties: false
                    description: Resource relationships.
                    properties:
                      i18n_format:
                        additionalProperties: false
                        description: I18n format object.
                        properties:
                          data:
                            additionalProperties: false
                            description: I18n Format identifier object.
                            properties:
                              id:
                                example: YML_KEY
                                pattern: ^[A-Z0-9@_-]+$
                                type: string
                              type:
                                enum:
                                - i18n_formats
[...]
