openapi: 3.2.0
info:
  contact:
    email: support@transifex.com
    name: Transifex Support
  description: '# Introduction


    This API is based on **{json:api}**.'
  title: Transifex Resource String Comments API
  version: '3.0'
  x-logo:
    altText: Transifex logo
    backgroundColor: '#FFFFFF'
    url: transifex-blue-logo.svg
servers:
- url: https://rest.api.transifex.com
security:
- bearerAuth: []
tags:
- description: Represents comments on resource strings.
  name: Resource String Comments
paths:
  /resource_string_comments:
    get:
      description: Get a list of all resource string comments for an organization. You can further narrow down the list using the available filters.
      parameters:
      - description: Filter results by an organization
        in: query
        name: filter[organization]
        required: true
        schema:
          description: Organization identifier.
          example: o:org_123
          pattern: ^o:[a-zA-Z0-9._-]+$
          type: string
      - description: Filter results by a project
        in: query
        name: filter[project]
        required: false
        schema:
          description: Project identifier.
          example: o:organization_slug:p:project_slug
          pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+$
          type: string
      - description: 'The cursor used for pagination. The value of the cursor must be retrieved from pagination links included in previous responses; you should not attempt to write them on your own.

          '
        in: query
        name: page[cursor]
        schema:
          type: string
      - in: query
        name: filter[category]
        required: false
        schema:
          example: frontpage
          type: string
      - in: query
        name: filter[author]
        required: false
        schema:
          example: u:username
          pattern: u:[^:]+
          type: string
      - in: query
        name: filter[datetime_created][gte]
        required: false
        schema:
          example: XXXX-XX-XXTXX:XX:XXZ
          format: date-time
          type: string
      - in: query
        name: filter[datetime_created][lt]
        required: false
        schema:
          example: XXXX-XX-XXTXX:XX:XXZ
          format: date-time
          type: string
      - in: query
        name: filter[priority]
        required: false
        schema:
          enum:
          - low
          - normal
          - high
          - critical
          - blocker
          example: critical
          type: string
      - in: query
        name: filter[resource]
        required: false
        schema:
          description: Resource identifier.
          example: o:organization_slug:p:project_slug:r:resource_slug
          pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+$
          type: string
      - in: query
        name: filter[resource_string]
        required: false
        schema:
          description: Resource String identifier.
          example: o:organization_slug:p:project_slug:r:resource_slug:s:2e354ef120752c67afa1b6855aa80c52
          pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+:s:[0-9a-f]{32}
          type: string
      - in: query
        name: filter[status]
        required: false
        schema:
          enum:
          - open
          - resolved
          example: open
          type: string
      - in: query
        name: filter[type]
        required: false
        schema:
          enum:
          - comment
          - issue
          example: issue
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    items:
                      allOf:
                      - properties:
                          id:
                            example: o:organization_slug:p:project_slug:r:resource_slug:s:4abfc726-6a27-4c33-9d99-e5254c8df748:c:4abfc726-6a27-4c33-9d99-e5254c8df748
                            pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+:s:[0-9a-f]{32}:c:([0-9a-f]{32}|[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$
                            type: string
                          type:
                            default: resource_string_comments
                            enum:
                            - resource_string_comments
                            type: string
                        required:
                        - type
                        - id
                        type: object
                      - properties:
                          attributes:
                            allOf:
                            - description: Resource String Comment attributes
                              properties:
                                category:
                                  example: frontpage
                                  type:
                                  - string
                                  - 'null'
                                message:
                                  example: the key is wrong
                                  type: string
                                priority:
                                  default: normal
                                  enum:
                                  - low
                                  - normal
                                  - high
                                  - critical
                                  - blocker
                                  type:
                                  - string
                                  - 'null'
                                status:
                                  enum:
                                  - open
                                  - resolved
                                  example: resolved
                                  type:
                                  - string
                                  - 'null'
                                type:
                                  enum:
                                  - comment
                                  - issue
                                  example: issue
                                  type: string
                              required:
                              - category
                              - message
                              - priority
                              - status
                              - type
                              type: object
                            - properties:
                                datetime_created:
                                  example: XXXX-XX-XXTXX:XX:XXZ
                                  format: date-time
                                  type: string
                                datetime_modified:
                                  example: XXXX-XX-XXTXX:XX:XXZ
                                  format: date-time
                                  type: string
                                datetime_resolved:
                                  example: XXXX-XX-XXTXX:XX:XXZ
                                  format: date-time
                                  type:
                                  - string
                                  - 'null'
                              required:
                              - datetime_created
                              - datetime_resolved
                              - datetime_modified
                              type: object
                          links:
                            additionalProperties: false
                            properties:
                              self:
                                description: Resource String details link
                                example: /resource_string_comments/o:organization_slug:p:project_slug:r:resource_slug:s:4abfc726-6a27-4c33-9d99-e5254c8df748:c:4abfc726-6a27-4c33-9d99-e5254c8df748
                                type: string
                            type: object
                          relationships:
                            additionalProperties: false
                            description: Resource String Comment relationships.
                            properties:
                              author:
                                additionalProperties: false
                                properties:
                                  data:
                                    description: User id.
                                    properties:
                                      id:
                                        description: User identifier.
                                        example: u:user_1
                                        pattern: ^u:[\w.-]+$
                                        type: string
                                      type:
                                        enum:
                                        - users
                                        type: string
                                    required:
                                    - type
                                    - id
                                    type: object
                                  links:
                                    additionalProperties: false
                                    description: User links.
                                    properties:
                                      related:
                                        description: User details link.
                                        example: /users/u:user_1
                                        type: string
                                    required:
                                    - related
                                    type: object
                                type: object
                              language:
                                additionalProperties: false
                                properties:
                                  data:
                                    additionalProperties: false
                                    description: Language data container.
                                    properties:
                                      id:
                                        description: Language identifier.
                                        example: l:en_US
                                        pattern: ^l:[a-zA-Z0-9@_.-]+$
                                        type: string
                                      type:
                                        enum:
                                        - languages
                                        type: string
                                    required:
                                    - type
                                    - id
                                    type: object
                                  links:
                                    additionalProperties: false
                                    description: Language related link.
                                    properties:
                                      related:
                                        description: Language details link.
                                        example: /languages/l:en_US
                                        type: string
                                    required:
                                    - related
                                    type: object
                                type: object
                              resolver:
                                additionalProperties: false
                                properties:
                                  data:
                                    description: User id.
                                    properties:
                                      id:
                                        description: User identifier.
                                        example: u:user_1
                                        pattern: ^u:[\w.-]+$
                                        type: string
                                      type:
                                        enum:
                                        - users
                                        type: string
                                    required:
                                    - type
                                    - id
                                    type: object
                                  links:
                                    additionalProperties: false
                                    description: User links.
                                    properties:
                                      related:
                                        description: User details link.
                                        example: /users/u:user_1
                                        type: string
                                    required:
                                    - related
                                    type: object
                                type:
                                - object
                                - 'null'
                              resource:
                                additionalProperties: false
                                properties:
                                  data:
                                    additionalProperties: false
                                    description: Resource data container.
                                    properties:
                                      id:
                                        description: Resource identifier.
                                        example: o:organization_slug:p:project_slug:r:resource_slug
                                        pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+$
                                        type: string
                                      type:
                                        enum:
                                        - resources
                                        type: string
                                    required:
                                    - type
                                    - id
                                    type: object
                                  links:
                                    additionalProperties: false
                                    description: Resource related link.
                                    properties:
                                      related:
                                        description: Resource details link.
                                        example: /resources/o:organization_slug:p:project_slug:r:resource_slug
                                        type: string
                                    required:
                                    - related
                                    type: object
                                type: object
                              resource_string:
                                additionalProperties: false
                                properties:
                                  data:
                                    additionalProperties: false
                                    description: Resource String data container.
                                    properties:
                                      id:
                                        description: Resource String identifier.
                                        example: o:organization_slug:p:project_slug:r:resource_slug:s:2e354ef120752c67afa1b6855aa80c52
                                        pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+:s:[0-9a-f]{32}
                                        type: string
                                      type:
                                        enum:
                                        - resource_strings
                                        type: string
                                    required:
                                    - type
                                    - id
                                    type: object
                                  links:
                                    additionalProperties: false
                                    description: Resource String related link.
                                    properties:
                                      related:
                                        description: Resource String details link.
                                        example: /resource_strings/o:organization_slug:p:project_slug:r:resource_slug:s:2e354ef120752c67afa1b6855aa80c52
                                        type: string
                                    required:
                                    - related
                                    type: object
                                type: object
                            required:
                            - resource_string
                            - resource
                            - language
                            type: object
                        type: object
                    type: array
                  links:
                    additionalProperties: false
                    description: Pagination links
                    properties:
                      next:
                        description: Link to the next page of results
                        example: /resource_strings_comments?filter[organization]=o:organization_slug&page[cursor]=XXX
                        type:
                        - string
                        - 'null'
                      previous:
                        description: Link to the previous page of results
                        example: /resource_strings_comments?filter[organization]=o:organization_slug&page[cursor]=XXX
                        type:
                        - string
                        - 'null'
                      self:
                        description: Link to the current page of results
                        example: /resource_strings_comments?filter[organization]=o:organization_slug&page[cursor]=XXX
                        type: string
                    type: object
                required:
                - data
                - links
                type: object
          description: List of resource string comments ordered by creation date in descending order
        '400':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: invalid
                          type: string
                        detail:
                          example: Enter a valid `name` consisting of Unicode letters, numbers, underscores, or hyphens
                          type: string
                        source:
                          anyOf:
                          - properties:
                              pointer:
                                example: /data/attributes/name
                                type: string
                          - properties:
                              parameter:
                                example: ?filter[foo]
                                type: string
                        status:
                          example: '400'
                          type: string
                        title:
                          example: Field `name` is invalid
                          type: string
                      type: object
                    type: array
                type: object
          description: Invalid
        '401':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: unauthorized
                          type: string
                        detail:
                          example: Please verify your credentials
                          type: string
                        status:
                          example: '401'
                          type: string
                        title:
                          example: Unauthorized
                          type: string
                      type: object
                    type: array
                type: object
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      properties:
                        code:
                          example: not found
                          type: string
                        detail:
                          example: Object not found. It may have been deleted or not been created yet
                          type: string
                        status:
                          example: '404'
                          type: string
                        title:
                          example: Object not found
                          type: string
                      type: object
                    type: array
                type: object
          description: Not found
        '500':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: server error
                          type: string
                        detail:
                          example: Something went wrong, please try again
                          type: string
                        status:
                          example: '500'
                          type: string
                        title:
                          example: Something went wrong
                          type: string
                      type: object
                    type: array
                type: object
          description: Internal Error
      summary: List resource string comments
      tags:
      - Resource String Comments
      x-released: true
      operationId: getResourceStringComments
      x-operation-id-source: derived
    post:
      description: Create a new resource string comment. This needs to be associated with a resource string and a target language.
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              additionalProperties: false
              properties:
                data:
                  additionalProperties: false
                  description: Create resource body request details
                  properties:
                    attributes:
                      additionalProperties: false
                      description: Resource String Comment attributes
                      properties:
                        category:
                          example: frontpage
                          type:
                          - string
                          - 'null'
                        message:
                          example: the key is wrong
                          type: string
                        priority:
                          default: normal
                          enum:
                          - low
                          - normal
                          - high
                          - critical
                          - blocker
                          type:
                          - string
                          - 'null'
                        type:
                          enum:
                          - comment
                          - issue
                          example: issue
                          type: string
                      required:
                      - message
                      - type
                      type: object
                    relationships:
                      additionalProperties: false
                      description: Resource String parent relationships
                      properties:
                        language:
                          additionalProperties: false
                          description: The `language` this comment refers to
                          properties:
                            data:
                              additionalProperties: false
                              description: Language data container.
                              properties:
                                id:
                                  description: Language identifier.
                                  example: l:en_US
                                  pattern: ^l:[a-zA-Z0-9@_.-]+$
                                  type: string
                                type:
                                  enum:
                                  - languages
                                  type: string
                              required:
                              - type
                              - id
                              type: object
                          required:
                          - data
                          type: object
                        resource_string:
                          additionalProperties: false
                          description: The `resource string` this comment refers to
                          properties:
                            data:
                              additionalProperties: false
                              description: Resource String data container.
                              properties:
                                id:
                                  description: Resource String identifier.
                                  example: o:organization_slug:p:project_slug:r:resource_slug:s:2e354ef120752c67afa1b6855aa80c52
                                  pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+:s:[0-9a-f]{32}
                                  type: string
                                type:
                                  enum:
                                  - resource_strings
                                  type: string
                              required:
                              - type
                              - id
                              type: object
                          required:
                          - data
                          type: object
                      required:
                      - language
                      - resource_string
                      type: object
                    type:
                      enum:
                      - resource_string_comments
                      type: string
                  required:
                  - type
                  - attributes
                  - relationships
                  type: object
              required:
              - data
              type: object
        required: true
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    allOf:
                    - properties:
                        id:
                          example: o:organization_slug:p:project_slug:r:resource_slug:s:4abfc726-6a27-4c33-9d99-e5254c8df748:c:4abfc726-6a27-4c33-9d99-e5254c8df748
                          pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+:s:[0-9a-f]{32}:c:([0-9a-f]{32}|[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$
                          type: string
                        type:
                          default: resource_string_comments
                          enum:
                          - resource_string_comments
                          type: string
                      required:
                      - type
                      - id
                      type: object
                    - properties:
                        attributes:
                          allOf:
                          - description: Resource String Comment attributes
                            properties:
                              category:
                                example: frontpage
                                type:
                                - string
                                - 'null'
                              message:
                                example: the key is wrong
                                type: string
                              priority:
                                default: normal
                                enum:
                                - low
                                - normal
                                - high
                                - critical
                                - blocker
                                type:
                                - string
                                - 'null'
                              status:
                                enum:
                                - open
                                - resolved
                                example: resolved
                                type:
                                - string
                                - 'null'
                              type:
                                enum:
                                - comment
                                - issue
                                example: issue
                                type: string
                            required:
                            - category
                            - message
                            - priority
                            - status
                            - type
                            type: object
                          - properties:
                              datetime_created:
                                example: XXXX-XX-XXTXX:XX:XXZ
                                format: date-time
                                type: string
                              datetime_modified:
                                example: XXXX-XX-XXTXX:XX:XXZ
                                format: date-time
                                type: string
                              datetime_resolved:
                                example: XXXX-XX-XXTXX:XX:XXZ
                                format: date-time
                                type:
                                - string
                                - 'null'
                            required:
                            - datetime_created
                            - datetime_resolved
                            - datetime_modified
                            type: object
                        links:
                          additionalProperties: false
                          properties:
                            self:
                              description: Resource String details link
                              example: /resource_string_comments/o:organization_slug:p:project_slug:r:resource_slug:s:4abfc726-6a27-4c33-9d99-e5254c8df748:c:4abfc726-6a27-4c33-9d99-e5254c8df748
                              type: string
                          type: object
                        relationships:
                          additionalProperties: false
                          description: Resource String Comment relationships.
                          properties:
                            author:
                              additionalProperties: false
                              properties:
                                data:
                                  description: User id.
                                  properties:
                                    id:
                                      description: User identifier.
                                      example: u:user_1
                                      pattern: ^u:[\w.-]+$
                                      type: string
                                    type:
                                      enum:
                                      - users
                                      type: string
                                  required:
                                  - type
                                  - id
                                  type: object
                                links:
                                  additionalProperties: false
                                  description: User links.
                                  properties:
                                    related:
                                      description: User details link.
                                      example: /users/u:user_1
                                      type: string
                                  required:
                                  - related
                                  type: object
                              type: object
                            language:
                              additionalProperties: false
                              properties:
                                data:
                                  additionalProperties: false
                                  description: Language data container.
                                  properties:
                                    id:
                                      description: Language identifier.
                                      example: l:en_US
                                      pattern: ^l:[a-zA-Z0-9@_.-]+$
                                      type: string
                                    type:
                                      enum:
                                      - languages
                                      type: string
                                  required:
                                  - type
                                  - id
                                  type: object
                                links:
                                  additionalProperties: false
                                  description: Language related link.
                                  properties:
                                    related:
                                      description: Language details link.
                                      example: /languages/l:en_US
                                      type: string
                                  required:
                                  - related
                                  type: object
                              type: object
                            resolver:
                              additionalProperties: false
                              properties:
                                data:
                                  description: User id.
                                  properties:
                                    id:
                                      description: User identifier.
                                      example: u:user_1
                                      pattern: ^u:[\w.-]+$
                                      type: string
                                    type:
                                      enum:
                                      - users
                                      type: string
                                  required:
                                  - type
                                  - id
                                  type: object
                                links:
                                  additionalProperties: false
                                  description: User links.
                                  properties:
                                    related:
                                      description: User details link.
                                      example: /users/u:user_1
                                      type: string
                                  required:
                                  - related
                                  type: object
                              type:
                              - object
                              - 'null'
                            resource:
                              additionalProperties: false
                              properties:
                                data:
                                  additionalProperties: false
                                  description: Resource data container.
                                  properties:
                                    id:
                                      description: Resource identifier.
                                      example: o:organization_slug:p:project_slug:r:resource_slug
                                      pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+$
                                      type: string
                                    type:
                                      enum:
                                      - resources
                                      type: string
                                  required:
                                  - type
                                  - id
                                  type: object
                                links:
                                  additionalProperties: false
                                  description: Resource related link.
                                  properties:
                                    related:
                                      description: Resource details link.
                                      example: /resources/o:organization_slug:p:project_slug:r:resource_slug
                                      type: string
                                  required:
                                  - related
                                  type: object
                              type: object
                            resource_string:
                              additionalProperties: false
                              properties:
                                data:
                                  additionalProperties: false
                                  description: Resource String data container.
                                  properties:
                                    id:
                                      description: Resource String identifier.
                                      example: o:organization_slug:p:project_slug:r:resource_slug:s:2e354ef120752c67afa1b6855aa80c52
                                      pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+:s:[0-9a-f]{32}
                                      type: string
                                    type:
                                      enum:
                                      - resource_strings
                                      type: string
                                  required:
                                  - type
                                  - id
                                  type: object
                                links:
                                  additionalProperties: false
                                  description: Resource String related link.
                                  properties:
                                    related:
                                      description: Resource String details link.
                                      example: /resource_strings/o:organization_slug:p:project_slug:r:resource_slug:s:2e354ef120752c67afa1b6855aa80c52
                                      type: string
                                  required:
                                  - related
                                  type: object
                              type: object
                          required:
                          - resource_string
                          - resource
                          - language
                          type: object
                      type: object
                type: object
          description: Created
          headers:
            Location:
              schema:
                example: /resource_string_comments/o:organization_slug:p:project_slug:r:resource_slug:s:4abfc726-6a27-4c33-9d99-e5254c8df748:c:4abfc726-6a27-4c33-9d99-e5254c8df748
                type: string
        '400':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: invalid
                          type: string
                        detail:
                          example: Enter a valid `name` consisting of Unicode letters, numbers, underscores, or hyphens
                          type: string
                        source:
                          anyOf:
                          - properties:
                              pointer:
                                example: /data/attributes/name
                                type: string
                          - properties:
                              parameter:
                                example: ?filter[foo]
                                type: string
                        status:
                          example: '400'
                          type: string
                        title:
                          example: Field `name` is invalid
                          type: string
                      type: object
                    type: array
                type: object
          description: Invalid
        '401':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: unauthorized
                          type: string
                        detail:
                          example: Please verify your credentials
                          type: string
                        status:
                          example: '401'
                          type: string
                        title:
                          example: Unauthorized
                          type: string
                      type: object
                    type: array
                type: object
          description: Unauthorized
        '403':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: true
                      properties:
                        code:
                          example: forbidden
                          type: string
                        detail:
                          example: You do not have permissions to perform this action
                          type: string
                        status:
                          example: '403'
                          type: string
                        title:
                          example: Operation not allowed
                          type: string
                      type: object
                    type: array
                type: object
          description: Forbidden
        '404':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      properties:
                        code:
                          example: not found
                          type: string
                        detail:
                          example: Object not found. It may have been deleted or not been created yet
                          type: string
                        status:
                          example: '404'
                          type: string
                        title:
                          example: Object not found
                          type: string
                      type: object
                    type: array
                type: object
          description: Not found
        '409':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: conflict
                          type: string
                        detail:
                          example: Value `some_field_value` already exists
                          type: string
                        source:
                          additionalProperties: false
                          properties:
                            pointer:
                              example: /data/attributes/some_field
                              type: string
                          type: object
                        status:
                          example: '409'
                          type: string
                        title:
                          example: Field `some_field` conflicted
                          type: string
                      type: object
                    type: array
                type: object
          description: Conflict
        '500':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: server error
                          type: string
                        detail:
                          example: Something went wrong, please try again
                          type: string
                        status:
                          example: '500'
                          type: string
                        title:
                          example: Something went wrong
                          type: string
                      type: object
                    type: array
                type: object
          description: Internal Error
      summary: Create resource string comments
      tags:
      - Resource String Comments
      x-released: true
      operationId: postResourceStringComments
      x-operation-id-source: derived
  /resource_string_comments/{comment_id}:
    delete:
      description: Delete a resource string comment
      parameters:
      - description: Format of the command_id should be a `o:organization_slug:p:project_slug:r:resource_slug:s:string_hash:c:comment_hash`.
        in: path
        name: comment_id
        required: true
        schema:
          example: o:organization_slug:p:project_slug:r:resource_slug:s:4abfc726-6a27-4c33-9d99-e5254c8df748:c:4abfc726-6a27-4c33-9d99-e5254c8df748
          pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+:s:[0-9a-f]{32}:c:([0-9a-f]{32}|[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$
          type: string
      responses:
        '204':
          description: No Content
        '401':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: unauthorized
                          type: string
                        detail:
                          example: Please verify your credentials
                          type: string
                        status:
                          example: '401'
                          type: string
                        title:
                          example: Unauthorized
                          type: string
                      type: object
                    type: array
                type: object
          description: Unauthorized
        '403':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: true
                      properties:
                        code:
                          example: forbidden
                          type: string
                        detail:
                          example: You do not have permissions to perform this action
                          type: string
                        status:
                          example: '403'
                          type: string
                        title:
                          example: Operation not allowed
                          type: string
                      type: object
                    type: array
                type: object
          description: Forbidden
        '404':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      properties:
                        code:
                          example: not found
                          type: string
                        detail:
                          example: Object not found. It may have been deleted or not been created yet
                          type: string
                        status:
                          example: '404'
                          type: string
                        title:
                          example: Object not found
                          type: string
                      type: object
                    type: array
                type: object
          description: Not found
        '500':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: server error
                          type: string
                        detail:
                          example: Something went wrong, please try again
                          type: string
                        status:
                          example: '500'
                          type: string
                        title:
                          example: Something went wrong
                          type: string
                      type: object
                    type: array
                type: object
          description: Internal Error
      summary: Delete resource string comment
      tags:
      - Resource String Comments
      x-released: true
      operationId: deleteResourceStringCommentsByCommentId
      x-operation-id-source: derived
    get:
      description: Get details for a comment related to a specific resource string
      parameters:
      - description: Format of the command_id should be a `o:organization_slug:p:project_slug:r:resource_slug:s:string_hash:c:comment_hash`.
        in: path
        name: comment_id
        required: true
        schema:
          example: o:organization_slug:p:project_slug:r:resource_slug:s:4abfc726-6a27-4c33-9d99-e5254c8df748:c:4abfc726-6a27-4c33-9d99-e5254c8df748
          pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+:s:[0-9a-f]{32}:c:([0-9a-f]{32}|[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    allOf:
                    - properties:
                        id:
                          example: o:organization_slug:p:project_slug:r:resource_slug:s:4abfc726-6a27-4c33-9d99-e5254c8df748:c:4abfc726-6a27-4c33-9d99-e5254c8df748
                          pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+:s:[0-9a-f]{32}:c:([0-9a-f]{32}|[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$
                          type: string
                        type:
                          default: resource_string_comments
                          enum:
                          - resource_string_comments
                          type: string
                      required:
                      - type
                      - id
                      type: object
                    - properties:
                        attributes:
                          allOf:
                          - description: Resource String Comment attributes
                            properties:
                              category:
                                example: frontpage
                                type:
                                - string
                                - 'null'
                              message:
                                example: the key is wrong
                                type: string
                              priority:
                                default: normal
                                enum:
                                - low
                                - normal
                                - high
                                - critical
                                - blocker
                                type:
                                - string
                                - 'null'
                              status:
                                enum:
                                - open
                                - resolved
                                example: resolved
                                type:
                                - string
                                - 'null'
                              type:
                                enum:
                                - comment
                                - issue
                                example: issue
                                type: string
                            required:
                            - category
                            - message
                            - priority
                            - status
                            - type
                            type: object
                          - properties:
                              datetime_created:
                                example: XXXX-XX-XXTXX:XX:XXZ
                                format: date-time
                                type: string
                              datetime_modified:
                                example: XXXX-XX-XXTXX:XX:XXZ
                                format: date-time
                                type: string
                              datetime_resolved:
                                example: XXXX-XX-XXTXX:XX:XXZ
                                format: date-time
                                type:
                                - string
                                - 'null'
                            required:
                            - datetime_created
                            - datetime_resolved
                            - datetime_modified
                            type: object
                        links:
                          additionalProperties: false
                          properties:
                            self:
                              description: Resource String details link
                              example: /resource_string_comments/o:organization_slug:p:project_slug:r:resource_slug:s:4abfc726-6a27-4c33-9d99-e5254c8df748:c:4abfc726-6a27-4c33-9d99-e5254c8df748
                              type: string
                          type: object
                        relationships:
                          additionalProperties: false
                          description: Resource String Comment relationships.
                          properties:
                            author:
                              additionalProperties: false
                              properties:
                                data:
                                  description: User id.
                                  properties:
                                    id:
                                      description: User identifier.
                                      example: u:user_1
                                      pattern: ^u:[\w.-]+$
                                      type: string
                                    type:
                                      enum:
                                      - users
                                      type: string
                                  required:
                                  - type
                                  - id
                                  type: object
                                links:
                                  additionalProperties: false
                                  description: User links.
                                  properties:
                                    related:
                                      description: User details link.
                                      example: /users/u:user_1
                                      type: string
                                  required:
                                  - related
                                  type: object
                              type: object
                            language:
                              additionalProperties: false
                              properties:
                                data:
                                  additionalProperties: false
                                  description: Language data container.
                                  properties:
                                    id:
                                      description: Language identifier.
                                      example: l:en_US
                                      pattern: ^l:[a-zA-Z0-9@_.-]+$
                                      type: string
                                    type:
                                      enum:
                                      - languages
                                      type: string
                                  required:
                                  - type
                                  - id
                                  type: object
                                links:
                                  additionalProperties: false
                                  description: Language related link.
                                  properties:
                                    related:
                                      description: Language details link.
                                      example: /languages/l:en_US
                                      type: string
                                  required:
                                  - related
                                  type: object
                              type: object
                            resolver:
                              additionalProperties: false
                              properties:
                                data:
                                  description: User id.
                                  properties:
                                    id:
                                      description: User identifier.
                                      example: u:user_1
                                      pattern: ^u:[\w.-]+$
                                      type: string
                                    type:
                                      enum:
                                      - users
                                      type: string
                                  required:
                                  - type
                                  - id
                                  type: object
                                links:
                                  additionalProperties: false
                                  description: User links.
                                  properties:
                                    related:
                                      description: User details link.
                                      example: /users/u:user_1
                                      type: string
                                  required:
                                  - related
                                  type: object
                              type:
                              - object
                              - 'null'
                            resource:
                              additionalProperties: false
                              properties:
                                data:
                                  additionalProperties: false
                                  description: Resource data container.
                                  properties:
                                    id:
                                      description: Resource identifier.
                                      example: o:organization_slug:p:project_slug:r:resource_slug
                                      pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+$
                                      type: string
                                    type:
                                      enum:
                                      - resources
                                      type: string
                                  required:
                                  - type
                                  - id
                                  type: object
                                links:
                                  additionalProperties: false
                                  description: Resource related link.
                                  properties:
                                    related:
                                      description: Resource details link.
                                      example: /resources/o:organization_slug:p:project_slug:r:resource_slug
                                      type: string
                                  required:
                                  - related
                                  type: object
                              type: object
                            resource_string:
                              additionalProperties: false
                              properties:
                                data:
                                  additionalProperties: false
                                  description: Resource String data container.
                                  properties:
                                    id:
                                      description: Resource String identifier.
                                      example: o:organization_slug:p:project_slug:r:resource_slug:s:2e354ef120752c67afa1b6855aa80c52
                                      pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+:s:[0-9a-f]{32}
                                      type: string
                                    type:
                                      enum:
                                      - resource_strings
                                      type: string
                                  required:
                                  - type
                                  - id
                                  type: object
                                links:
                                  additionalProperties: false
                                  description: Resource String related link.
                                  properties:
                                    related:
                                      description: Resource String details link.
                                      example: /resource_strings/o:organization_slug:p:project_slug:r:resource_slug:s:2e354ef120752c67afa1b6855aa80c52
                                      type: string
                                  required:
                                  - related
                                  type: object
                              type: object
                          required:
                          - resource_string
                          - resource
                          - language
                          type: object
                      type: object
                    description: a resource string comment object
                type: object
          description: Successful response
        '401':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: unauthorized
                          type: string
                        detail:
                          example: Please verify your credentials
                          type: string
                        status:
                          example: '401'
                          type: string
                        title:
                          example: Unauthorized
                          type: string
                      type: object
                    type: array
                type: object
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      properties:
                        code:
                          example: not found
                          type: string
                        detail:
                          example: Object not found. It may have been deleted or not been created yet
                          type: string
                        status:
                          example: '404'
                          type: string
                        title:
                          example: Object not found
                          type: string
                      type: object
                    type: array
                type: object
          description: Not found
        '500':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: server error
                          type: string
                        detail:
                          example: Something went wrong, please try again
                          type: string
                        status:
                          example: '500'
                          type: string
                        title:
                          example: Something went wrong
                          type: string
                      type: object
                    type: array
                type: object
          description: Internal Error
      summary: Get resource string comment
      tags:
      - Resource String Comments
      x-released: true
      operationId: getResourceStringCommentsByCommentId
      x-operation-id-source: derived
    patch:
      description: Change a resource string comment. You can update it's status, change it to an issue or edit the description.
      parameters:
      - description: Format of the command_id should be a `o:organization_slug:p:project_slug:r:resource_slug:s:string_hash:c:comment_hash`.
        in: path
        name: comment_id
        required: true
        schema:
          example: o:organization_slug:p:project_slug:r:resource_slug:s:4abfc726-6a27-4c33-9d99-e5254c8df748:c:4abfc726-6a27-4c33-9d99-e5254c8df748
          pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+:s:[0-9a-f]{32}:c:([0-9a-f]{32}|[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              additionalProperties: false
              properties:
                data:
                  additionalProperties: false
                  description: Update resource body request details
                  properties:
                    attributes:
                      additionalProperties: false
                      description: Resource String Comment mutable attributes
                      minProperties: 1
                      properties:
                        category:
                          example: frontpage
                          type:
                          - string
                          - 'null'
                        message:
                          example: the key is wrong
                          type: string
                        priority:
                          enum:
                          - low
                          - normal
                          - high
                          - critical
                          - blocker
                          type:
                          - string
                          - 'null'
                        status:
                          default: open
                          enum:
                          - open
                          - resolved
                          example: resolved
                          type:
                          - string
                          - 'null'
                      type: object
                    id:
                      example: o:organization_slug:p:project_slug:r:resource_slug:s:4abfc726-6a27-4c33-9d99-e5254c8df748:c:4abfc726-6a27-4c33-9d99-e5254c8df748
                      pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+:s:[0-9a-f]{32}:c:([0-9a-f]{32}|[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$
                      type: string
                    type:
                      default: resource_string_comments
                      enum:
                      - resource_string_comments
                      type: string
                  required:
                  - type
                  - id
                  - attributes
                  type: object
              required:
              - data
              type: object
        required: true
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of resource string comment objects
                    items:
                      allOf:
                      - properties:
                          id:
                            example: o:organization_slug:p:project_slug:r:resource_slug:s:4abfc726-6a27-4c33-9d99-e5254c8df748:c:4abfc726-6a27-4c33-9d99-e5254c8df748
                            pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+:s:[0-9a-f]{32}:c:([0-9a-f]{32}|[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$
                            type: string
                          type:
                            default: resource_string_comments
                            enum:
                            - resource_string_comments
                            type: string
                        required:
                        - type
                        - id
                        type: object
                      - properties:
                          attributes:
                            allOf:
                            - description: Resource String Comment attributes
                              properties:
                                category:
                                  example: frontpage
                                  type:
                                  - string
                                  - 'null'
                                message:
                                  example: the key is wrong
                                  type: string
                                priority:
                                  default: normal
                                  enum:
                                  - low
                                  - normal
                                  - high
                                  - critical
                                  - blocker
                                  type:
                                  - string
                                  - 'null'
                                status:
                                  enum:
                                  - open
                                  - resolved
                                  example: resolved
                                  type:
                                  - string
                                  - 'null'
                                type:
                                  enum:
                                  - comment
                                  - issue
                                  example: issue
                                  type: string
                              required:
                              - category
                              - message
                              - priority
                              - status
                              - type
                              type: object
                            - properties:
                                datetime_created:
                                  example: XXXX-XX-XXTXX:XX:XXZ
                                  format: date-time
                                  type: string
                                datetime_modified:
                                  example: XXXX-XX-XXTXX:XX:XXZ
                                  format: date-time
                                  type: string
                                datetime_resolved:
                                  example: XXXX-XX-XXTXX:XX:XXZ
                                  format: date-time
                                  type:
                                  - string
                                  - 'null'
                              required:
                              - datetime_created
                              - datetime_resolved
                              - datetime_modified
                              type: object
                          links:
                            additionalProperties: false
                            properties:
                              self:
                                description: Resource String details link
                                example: /resource_string_comments/o:organization_slug:p:project_slug:r:resource_slug:s:4abfc726-6a27-4c33-9d99-e5254c8df748:c:4abfc726-6a27-4c33-9d99-e5254c8df748
                                type: string
                            type: object
                          relationships:
                            additionalProperties: false
                            description: Resource String Comment relationships.
                            properties:
                              author:
                                additionalProperties: false
                                properties:
                                  data:
                                    description: User id.
                                    properties:
                                      id:
                                        description: User identifier.
                                        example: u:user_1
                                        pattern: ^u:[\w.-]+$
                                        type: string
                                      type:
                                        enum:
                                        - users
                                        type: string
                                    required:
                                    - type
                                    - id
                                    type: object
                                  links:
                                    additionalProperties: false
                                    description: User links.
                                    properties:
                                      related:
                                        description: User details link.
                                        example: /users/u:user_1
                                        type: string
                                    required:
                                    - related
                                    type: object
                                type: object
                              language:
                                additionalProperties: false
                                properties:
                                  data:
                                    additionalProperties: false
                                    description: Language data container.
                                    properties:
                                      id:
                                        description: Language identifier.
                                        example: l:en_US
                                        pattern: ^l:[a-zA-Z0-9@_.-]+$
                                        type: string
                                      type:
                                        enum:
                                        - languages
                                        type: string
                                    required:
                                    - type
                                    - id
                                    type: object
                                  links:
                                    additionalProperties: false
                                    description: Language related link.
                                    properties:
                                      related:
                                        description: Language details link.
                                        example: /languages/l:en_US
                                        type: string
                                    required:
                                    - related
                                    type: object
                                type: object
                              resolver:
                                additionalProperties: false
                                properties:
                                  data:
                                    description: User id.
                                    properties:
                                      id:
                                        description: User identifier.
                                        example: u:user_1
                                        pattern: ^u:[\w.-]+$
                                        type: string
                                      type:
                                        enum:
                                        - users
                                        type: string
                                    required:
                                    - type
                                    - id
                                    type: object
                                  links:
                                    additionalProperties: false
                                    description: User links.
                                    properties:
                                      related:
                                        description: User details link.
                                        example: /users/u:user_1
                                        type: string
                                    required:
                                    - related
                                    type: object
                                type:
                                - object
                                - 'null'
                              resource:
                                additionalProperties: false
                                properties:
                                  data:
                                    additionalProperties: false
                                    description: Resource data container.
                                    properties:
                                      id:
                                        description: Resource identifier.
                                        example: o:organization_slug:p:project_slug:r:resource_slug
                                        pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+$
                                        type: string
                                      type:
                                        enum:
                                        - resources
                                        type: string
                                    required:
                                    - type
                                    - id
                                    type: object
                                  links:
                                    additionalProperties: false
                                    description: Resource related link.
                                    properties:
                                      related:
                                        description: Resource details link.
                                        example: /resources/o:organization_slug:p:project_slug:r:resource_slug
                                        type: string
                                    required:
                                    - related
                                    type: object
                                type: object
                              resource_string:
                                additionalProperties: false
                                properties:
                                  data:
                                    additionalProperties: false
                                    description: Resource String data container.
                                    properties:
                                      id:
                                        description: Resource String identifier.
                                        example: o:organization_slug:p:project_slug:r:resource_slug:s:2e354ef120752c67afa1b6855aa80c52
                                        pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:r:[a-zA-Z0-9_-]+:s:[0-9a-f]{32}
                                        type: string
                                      type:
                                        enum:
                                        - resource_strings
                                        type: string
                                    required:
                                    - type
                                    - id
                                    type: object
                                  links:
                                    additionalProperties: false
                                    description: Resource String related link.
                                    properties:
                                      related:
                                        description: Resource String details link.
                                        example: /resource_strings/o:organization_slug:p:project_slug:r:resource_slug:s:2e354ef120752c67afa1b6855aa80c52
                                        type: string
                                    required:
                                    - related
                                    type: object
                                type: object
                            required:
                            - resource_string
                            - resource
                            - language
                            type: object
                        type: object
                type: object
          description: Successful response
        '400':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: invalid
                          type: string
                        detail:
                          example: Enter a valid `name` consisting of Unicode letters, numbers, underscores, or hyphens
                          type: string
                        source:
                          anyOf:
                          - properties:
                              pointer:
                                example: /data/attributes/name
                                type: string
                          - properties:
                              parameter:
                                example: ?filter[foo]
                                type: string
                        status:
                          example: '400'
                          type: string
                        title:
                          example: Field `name` is invalid
                          type: string
                      type: object
                    type: array
                type: object
          description: Invalid
        '401':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: unauthorized
                          type: string
                        detail:
                          example: Please verify your credentials
                          type: string
                        status:
                          example: '401'
                          type: string
                        title:
                          example: Unauthorized
                          type: string
                      type: object
                    type: array
                type: object
          description: Unauthorized
        '403':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: true
                      properties:
                        code:
                          example: forbidden
                          type: string
                        detail:
                          example: You do not have permissions to perform this action
                          type: string
                        status:
                          example: '403'
                          type: string
                        title:
                          example: Operation not allowed
                          type: string
                      type: object
                    type: array
                type: object
          description: Forbidden
        '404':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      properties:
                        code:
                          example: not found
                          type: string
                        detail:
                          example: Object not found. It may have been deleted or not been created yet
                          type: string
                        status:
                          example: '404'
                          type: string
                        title:
                          example: Object not found
                          type: string
                      type: object
                    type: array
                type: object
          description: Not found
        '409':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: conflict
                          type: string
                        detail:
                          example: Value `some_field_value` already exists
                          type: string
                        source:
                          additionalProperties: false
                          properties:
                            pointer:
                              example: /data/attributes/some_field
                              type: string
                          type: object
                        status:
                          example: '409'
                          type: string
                        title:
                          example: Field `some_field` conflicted
                          type: string
                      type: object
                    type: array
                type: object
          description: Conflict
        '500':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: server error
                          type: string
                        detail:
                          example: Something went wrong, please try again
                          type: string
                        status:
                          example: '500'
                          type: string
                        title:
                          example: Something went wrong
                          type: string
                      type: object
                    type: array
                type: object
          description: Internal Error
      summary: Update resource string comment
      tags:
      - Resource String Comments
      x-released: true
      operationId: patchResourceStringCommentsByCommentId
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      description: 'To use the API you need to authenticate your requests using Token Authentication. Specifically, you need to


        * Acquire an authentication token from the Transifex (under user settings)

        * Uses the `Bearer` keyword and  prepend the token when passing the header.


        For example, if the authentication token is `1/0b4e75552e481aeae813aebad53f3de3fcc67ccd`, then the HTTP header should look like this:


        `Authorization: Bearer 1/0b4e75552e481aeae813aebad53f3de3fcc67ccd`


        To create an API token:


        1. Head to your User Settings by going to the main navigation, and clicking on your profile image in the top right corner.


        2. In the left menu, click on API token.


        3. Click Generate a token.


        Once you''ve generated a token, you can edit its name so it''s easier to remember where you use the token.


        To keep your API token secure, we''ll only show it once, so please be sure to save it somewhere secure.

        In case you lose your API token, you can regenerate a new one at any time. However, when you regenerate

        a new token, you''ll need to update your applications and replace the old token with the new one.

        '
      scheme: bearer
      type: http
