openapi: 3.2.0
info:
  contact:
    email: support@transifex.com
    name: Transifex Support
  description: '# Introduction


    This API is based on **{json:api}**.'
  title: Transifex Glossaries API
  version: '3.0'
  x-logo:
    altText: Transifex logo
    backgroundColor: '#FFFFFF'
    url: transifex-blue-logo.svg
servers:
- url: https://rest.api.transifex.com
security:
- bearerAuth: []
tags:
- description: Glossaries
  name: Glossaries
paths:
  /glossaries:
    get:
      description: Get the list of glossaries that belong to a single organization.
      parameters:
      - description: Filter results by an organization
        in: query
        name: filter[organization]
        required: true
        schema:
          description: Organization identifier.
          example: o:org_123
          pattern: ^o:[a-zA-Z0-9._-]+$
          type: string
      - description: 'The cursor used for pagination. The value of the cursor must be retrieved from pagination links included in previous responses; you should not attempt to write them on your own.

          '
        in: query
        name: page[cursor]
        schema:
          type: string
      - in: query
        name: filter[slug]
        required: false
        schema:
          pattern: ^[a-zA-Z0-9._-]+$
          type: string
      - in: query
        name: filter[name]
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of Glossary objects.
                    items:
                      additionalProperties: false
                      properties:
                        attributes:
                          additionalProperties: false
                          properties:
                            datetime_created:
                              example: XXXX-XX-XXTXX:XX:XXZ
                              format: date-time
                              type: string
                            datetime_modified:
                              example: XXXX-XX-XXTXX:XX:XXZ
                              format: date-time
                              type: string
                            name:
                              description: The name of the Glossary.
                              example: Product glossary
                              maxLength: 255
                              type: string
                            slug:
                              description: The slug of the Glossary.
                              example: glossary_slug
                              maxLength: 255
                              pattern: ^[a-zA-Z0-9_-]+$
                              type: string
                          required:
                          - slug
                          - name
                          - datetime_created
                          - datetime_modified
                          type: object
                        id:
                          description: Glossary identifier.
                          example: o:organization_slug:g:glossary_slug
                          pattern: ^o:[a-zA-Z0-9._-]+:g:[a-zA-Z0-9_-]+$
                          type: string
                        links:
                          additionalProperties: false
                          description: Glossary self link.
                          properties:
                            self:
                              description: Glossary details link.
                              example: /glossaries/o:organization_slug:g:glossary_slug
                              type: string
                          required:
                          - self
                          type: object
                        relationships:
                          additionalProperties: false
                          description: Glossary relationships.
                          properties:
                            organization:
                              additionalProperties: false
                              properties:
                                data:
                                  additionalProperties: false
                                  description: Organization data container.
                                  properties:
                                    id:
                                      description: Organization identifier.
                                      example: o:org_123
                                      pattern: ^o:[a-zA-Z0-9._-]+$
                                      type: string
                                    type:
                                      enum:
                                      - organizations
                                      type: string
                                  required:
                                  - type
                                  - id
                                  type: object
                                links:
                                  additionalProperties: false
                                  properties:
                                    related:
                                      description: Organization details link.
                                      example: /organizations/o:organization_slug
                                      type: string
                                  required:
                                  - related
                                  type: object
                              required:
                              - links
                              - data
                              type: object
                            source_language:
                              additionalProperties: false
                              properties:
                                data:
                                  additionalProperties: false
                                  description: Language data container.
                                  properties:
                                    id:
                                      description: Language identifier.
                                      example: l:en_US
                                      pattern: ^l:[a-zA-Z0-9@_.-]+$
                                      type: string
                                    type:
                                      enum:
                                      - languages
                                      type: string
                                  required:
                                  - type
                                  - id
                                  type: object
                                links:
                                  additionalProperties: false
                                  description: Language related link.
                                  properties:
                                    related:
                                      description: Language details link.
                                      example: /languages/l:en_US
                                      type: string
                                  required:
                                  - related
                                  type: object
                              required:
                              - links
                              - data
                              type: object
                          required:
                          - source_language
                          - organization
                          type: object
                        type:
                          enum:
                          - glossaries
                          type: string
                      required:
                      - type
                      - id
                      - attributes
                      - relationships
                      - links
                      type: object
                    type: array
                  links:
                    additionalProperties: false
                    description: Pagination links.
                    properties:
                      next:
                        description: Glossary cursor link.
                        example: /glossaries?filter[organization]=o:organization_slug&page[cursor]=XXX
                        type:
                        - string
                        - 'null'
                      previous:
                        description: Glossary cursor link.
                        example: /glossaries?filter[organization]=o:organization_slug&page[cursor]=XXX
                        type:
                        - string
                        - 'null'
                      self:
                        description: Glossary details link.
                        example: /glossaries/o:organization_slug:g:glossary_slug
                        type: string
                    required:
                    - self
                    - next
                    - previous
                    type: object
                required:
                - links
                - data
                type: object
          description: Get a list of all glossaries for a given organization
        '400':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: invalid
                          type: string
                        detail:
                          example: Enter a valid `name` consisting of Unicode letters, numbers, underscores, or hyphens
                          type: string
                        source:
                          anyOf:
                          - properties:
                              pointer:
                                example: /data/attributes/name
                                type: string
                          - properties:
                              parameter:
                                example: ?filter[foo]
                                type: string
                        status:
                          example: '400'
                          type: string
                        title:
                          example: Field `name` is invalid
                          type: string
                      type: object
                    type: array
                type: object
          description: Invalid
        '401':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: unauthorized
                          type: string
                        detail:
                          example: Please verify your credentials
                          type: string
                        status:
                          example: '401'
                          type: string
                        title:
                          example: Unauthorized
                          type: string
                      type: object
                    type: array
                type: object
          description: Unauthorized
        '403':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: true
                      properties:
                        code:
                          example: forbidden
                          type: string
                        detail:
                          example: You do not have permissions to perform this action
                          type: string
                        status:
                          example: '403'
                          type: string
                        title:
                          example: Operation not allowed
                          type: string
                      type: object
                    type: array
                type: object
          description: Forbidden
        '404':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      properties:
                        code:
                          example: not found
                          type: string
                        detail:
                          example: Object not found. It may have been deleted or not been created yet
                          type: string
                        status:
                          example: '404'
                          type: string
                        title:
                          example: Object not found
                          type: string
                      type: object
                    type: array
                type: object
          description: Not found
        '409':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: conflict
                          type: string
                        detail:
                          example: Value `some_field_value` already exists
                          type: string
                        source:
                          additionalProperties: false
                          properties:
                            pointer:
                              example: /data/attributes/some_field
                              type: string
                          type: object
                        status:
                          example: '409'
                          type: string
                        title:
                          example: Field `some_field` conflicted
                          type: string
                      type: object
                    type: array
                type: object
          description: Conflict
        '500':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: server error
                          type: string
                        detail:
                          example: Something went wrong, please try again
                          type: string
                        status:
                          example: '500'
                          type: string
                        title:
                          example: Something went wrong
                          type: string
                      type: object
                    type: array
                type: object
          description: Internal Error
      security:
      - bearerAuth: []
      summary: List glossaries
      tags:
      - Glossaries
      x-released: true
      operationId: getGlossaries
      x-operation-id-source: derived
  /glossaries/{glossary_id}:
    parameters:
    - description: Format of composite id should be `o:organization_slug:g:glossary_slug`.
      in: path
      name: glossary_id
      required: true
      schema:
        description: Glossary identifier.
        example: o:organization_slug:g:glossary_slug
        pattern: ^o:[a-zA-Z0-9._-]+:g:[a-zA-Z0-9_-]+$
        type: string
    summary: Glossary details
    get:
      description: Get the details of a specific glossary.
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    additionalProperties: false
                    properties:
                      attributes:
                        additionalProperties: false
                        properties:
                          datetime_created:
                            example: XXXX-XX-XXTXX:XX:XXZ
                            format: date-time
                            type: string
                          datetime_modified:
                            example: XXXX-XX-XXTXX:XX:XXZ
                            format: date-time
                            type: string
                          name:
                            description: The name of the Glossary.
                            example: Product glossary
                            maxLength: 255
                            type: string
                          slug:
                            description: The slug of the Glossary.
                            example: glossary_slug
                            maxLength: 255
                            pattern: ^[a-zA-Z0-9_-]+$
                            type: string
                        required:
                        - slug
                        - name
                        - datetime_created
                        - datetime_modified
                        type: object
                      id:
                        description: Glossary identifier.
                        example: o:organization_slug:g:glossary_slug
                        pattern: ^o:[a-zA-Z0-9._-]+:g:[a-zA-Z0-9_-]+$
                        type: string
                      links:
                        additionalProperties: false
                        description: Glossary self link.
                        properties:
                          self:
                            description: Glossary details link.
                            example: /glossaries/o:organization_slug:g:glossary_slug
                            type: string
                        required:
                        - self
                        type: object
                      relationships:
                        additionalProperties: false
                        description: Glossary relationships.
                        properties:
                          organization:
                            additionalProperties: false
                            properties:
                              data:
                                additionalProperties: false
                                description: Organization data container.
                                properties:
                                  id:
                                    description: Organization identifier.
                                    example: o:org_123
                                    pattern: ^o:[a-zA-Z0-9._-]+$
                                    type: string
                                  type:
                                    enum:
                                    - organizations
                                    type: string
                                required:
                                - type
                                - id
                                type: object
                              links:
                                additionalProperties: false
                                properties:
                                  related:
                                    description: Organization details link.
                                    example: /organizations/o:organization_slug
                                    type: string
                                required:
                                - related
                                type: object
                            required:
                            - links
                            - data
                            type: object
                          source_language:
                            additionalProperties: false
                            properties:
                              data:
                                additionalProperties: false
                                description: Language data container.
                                properties:
                                  id:
                                    description: Language identifier.
                                    example: l:en_US
                                    pattern: ^l:[a-zA-Z0-9@_.-]+$
                                    type: string
                                  type:
                                    enum:
                                    - languages
                                    type: string
                                required:
                                - type
                                - id
                                type: object
                              links:
                                additionalProperties: false
                                description: Language related link.
                                properties:
                                  related:
                                    description: Language details link.
                                    example: /languages/l:en_US
                                    type: string
                                required:
                                - related
                                type: object
                            required:
                            - links
                            - data
                            type: object
                        required:
                        - source_language
                        - organization
                        type: object
                      type:
                        enum:
                        - glossaries
                        type: string
                    required:
                    - type
                    - id
                    - attributes
                    - relationships
                    - links
                    type: object
                required:
                - data
                type: object
          description: Successful Response.
        '400':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: invalid
                          type: string
                        detail:
                          example: Enter a valid `name` consisting of Unicode letters, numbers, underscores, or hyphens
                          type: string
                        source:
                          anyOf:
                          - properties:
                              pointer:
                                example: /data/attributes/name
                                type: string
                          - properties:
                              parameter:
                                example: ?filter[foo]
                                type: string
                        status:
                          example: '400'
                          type: string
                        title:
                          example: Field `name` is invalid
                          type: string
                      type: object
                    type: array
                type: object
          description: Invalid
        '401':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: unauthorized
                          type: string
                        detail:
                          example: Please verify your credentials
                          type: string
                        status:
                          example: '401'
                          type: string
                        title:
                          example: Unauthorized
                          type: string
                      type: object
                    type: array
                type: object
          description: Unauthorized
        '403':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: true
                      properties:
                        code:
                          example: forbidden
                          type: string
                        detail:
                          example: You do not have permissions to perform this action
                          type: string
                        status:
                          example: '403'
                          type: string
                        title:
                          example: Operation not allowed
                          type: string
                      type: object
                    type: array
                type: object
          description: Forbidden
        '404':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      properties:
                        code:
                          example: not found
                          type: string
                        detail:
                          example: Object not found. It may have been deleted or not been created yet
                          type: string
                        status:
                          example: '404'
                          type: string
                        title:
                          example: Object not found
                          type: string
                      type: object
                    type: array
                type: object
          description: Not found
        '500':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: server error
                          type: string
                        detail:
                          example: Something went wrong, please try again
                          type: string
                        status:
                          example: '500'
                          type: string
                        title:
                          example: Something went wrong
                          type: string
                      type: object
                    type: array
                type: object
          description: Internal Error
      security:
      - bearerAuth: []
      summary: Get glossary details
      tags:
      - Glossaries
      x-released: true
      operationId: getGlossariesByGlossaryId
      x-operation-id-source: derived
  /glossaries_async_downloads:
    summary: Create a glossary file download action
    post:
      description: 'The response represents the glossary file download job. Check the job''s

        status and download the file itself once that is completed.


        The downloaded file will be in CSV format containing glossary terms, their

        translations, and optionally translation comments.


        If no language relationship is provided, the CSV will include all glossary

        languages the authenticated user can view.'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              additionalProperties: false
              properties:
                data:
                  additionalProperties: false
                  description: Create glossary download body request details.
                  properties:
                    attributes:
                      additionalProperties: false
                      description: Glossary async download attributes
                      properties:
                        callback_url:
                          default: null
                          description: 'The url that will be called when the processing is completed.

                            For more details about callback_url you can refer to [Asynchronous Processing](#section/Asynchronous-Processing) section

                            '
                          format: uri
                          type:
                          - string
                          - 'null'
                        include_translation_comments:
                          default: false
                          description: 'Include translation comments in the downloaded CSV file.

                            When enabled, a notes column will be added for each language.

                            '
                          type: boolean
                    relationships:
                      additionalProperties: false
                      description: Glossary download parent relationships.
                      properties:
                        glossary:
                          additionalProperties: false
                          description: The `glossary` for which a CSV file is downloaded.
                          properties:
                            data:
                              additionalProperties: false
                              description: Glossary data container.
                              properties:
                                id:
                                  description: Glossary identifier.
                                  example: o:organization_slug:g:glossary_slug
                                  pattern: ^o:[a-zA-Z0-9._-]+:g:[a-zA-Z0-9_-]+$
                                  type: string
                                type:
                                  enum:
                                  - glossaries
                                  type: string
                              required:
                              - type
                              - id
                              type: object
                          required:
                          - data
                          type: object
                        language:
                          additionalProperties: false
                          description: 'The `language` for which glossary translations are downloaded.

                            If not provided, all glossary languages the authenticated

                            user can view will be included.

                            '
                          properties:
                            data:
                              additionalProperties: false
                              description: Language data container.
                              properties:
                                id:
                                  description: Language identifier.
                                  example: l:en_US
                                  pattern: ^l:[a-zA-Z0-9@_.-]+$
                                  type: string
                                type:
                                  enum:
                                  - languages
                                  type: string
                              required:
                              - type
                              - id
                              type: object
                          required:
                          - data
                          type: object
                      required:
                      - glossary
                      type: object
                    type:
                      enum:
                      - glossaries_async_downloads
                      type: string
                  required:
                  - type
                  - relationships
                  type: object
              required:
              - data
              type: object
        required: true
      responses:
        '202':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    additionalProperties: false
                    properties:
                      attributes:
                        additionalProperties: false
                        properties:
                          date_created:
                            example: XXXX-XX-XXTXX:XX:XXZ
                            format: date-time
                            type: string
                          date_modified:
                            example: XXXX-XX-XXTXX:XX:XXZ
                            format: date-time
                            type: string
                          errors:
                            items:
                              additionalProperties: false
                              properties:
                                code:
                                  example: csv_generation_error
                                  type: string
                                detail:
                                  example: Could not decode JSON object
                                  type: string
                              required:
                              - code
                              - detail
                              type: object
                            type: array
                          status:
                            enum:
                            - pending
                            - processing
                            - failed
                            example: failed
                            type: string
                        required:
                        - status
                        - errors
                        - date_created
                        - date_modified
                        type: object
                      id:
                        example: 4abfc726-6a27-4c33-9d99-e5254c8df748
                        pattern: ^([0-9a-f]{32}|[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$
                        type: string
                      links:
                        additionalProperties: false
                        properties:
                          self:
                            example: /glossaries_async_downloads/4abfc726-6a27-4c33-9d99-e5254c8df748
                            type: string
                        required:
                        - self
                        type: object
                      relationships:
                        additionalProperties: false
                        properties:
                          glossary:
                            additionalProperties: false
                            properties:
                              data:
                                additionalProperties: false
                                description: Glossary data container.
                                properties:
                                  id:
                                    description: Glossary identifier.
                                    example: o:organization_slug:g:glossary_slug
                                    pattern: ^o:[a-zA-Z0-9._-]+:g:[a-zA-Z0-9_-]+$
                                    type: string
                                  type:
                                    enum:
                                    - glossaries
                                    type: string
                                required:
                                - type
                                - id
                                type: object
                              links:
                                additionalProperties: false
                                description: Glossary related link.
                                properties:
                                  related:
                                    description: Glossary details link.
                                    example: /glossaries/o:organization_slug:g:glossary_slug
                                    type: string
                                required:
                                - related
                                type: object
                            required:
                            - links
                            - data
                            type: object
                          language:
                            additionalProperties: false
                            description: 'The language that was requested for the download.

                              Will be absent if all glossary languages were requested.

                              '
                            properties:
                              data:
                                additionalProperties: false
                                description: Language data container.
                                properties:
                                  id:
                                    description: Language identifier.
                                    example: l:en_US
                                    pattern: ^l:[a-zA-Z0-9@_.-]+$
                                    type: string
                                  type:
                                    enum:
                                    - languages
                                    type: string
                                required:
                                - type
                                - id
                                type: object
                              links:
                                additionalProperties: false
                                description: Language related link.
                                properties:
                                  related:
                                    description: Language details link.
                                    example: /languages/l:en_US
                                    type: string
                                required:
                                - related
                                type: object
                            required:
                            - links
                            - data
                            type: object
                        required:
                        - glossary
                        type: object
                      type:
                        enum:
                        - glossaries_async_downloads
                        type: string
                    required:
                    - type
                    - id
                    - attributes
                    - relationships
                    - links
                    type: object
                required:
                - data
                type: object
          description: Accepted.
          headers:
            Content-Location:
              description: The location of the glossary download.
              required: true
              schema:
                type: string
        '400':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: invalid
                          type: string
                        detail:
                          example: Enter a valid `name` consisting of Unicode letters, numbers, underscores, or hyphens
                          type: string
                        source:
                          anyOf:
                          - properties:
                              pointer:
                                example: /data/attributes/name
                                type: string
                          - properties:
                              parameter:
                                example: ?filter[foo]
                                type: string
                        status:
                          example: '400'
                          type: string
                        title:
                          example: Field `name` is invalid
                          type: string
                      type: object
                    type: array
                type: object
          description: Invalid
        '401':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: unauthorized
                          type: string
                        detail:
                          example: Please verify your credentials
                          type: string
                        status:
                          example: '401'
                          type: string
                        title:
                          example: Unauthorized
                          type: string
                      type: object
                    type: array
                type: object
          description: Unauthorized
        '403':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: true
                      properties:
                        code:
                          example: forbidden
                          type: string
                        detail:
                          example: You do not have permissions to perform this action
                          type: string
                        status:
                          example: '403'
                          type: string
                        title:
                          example: Operation not allowed
                          type: string
                      type: object
                    type: array
                type: object
          description: Forbidden
        '404':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      properties:
                        code:
                          example: not found
                          type: string
                        detail:
                          example: Object not found. It may have been deleted or not been created yet
                          type: string
                        status:
                          example: '404'
                          type: string
                        title:
                          example: Object not found
                          type: string
                      type: object
                    type: array
                type: object
          description: Not found
        '409':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: conflict
                          type: string
                        detail:
                          example: Value `some_field_value` already exists
                          type: string
                        source:
                          additionalProperties: false
                          properties:
                            pointer:
                              example: /data/attributes/some_field
                              type: string
                          type: object
                        status:
                          example: '409'
                          type: string
                        title:
                          example: Field `some_field` conflicted
                          type: string
                      type: object
                    type: array
                type: object
          description: Conflict
        '429':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: Throttled
                          type: string
                        detail:
                          example: Request was throttled. Expected available in 60 seconds.
                          type: string
                        status:
                          example: '429'
                          type: string
                        title:
                          example: Throttled
                          type: string
                      type: object
                    type: array
                type: object
          description: Throttled
        '500':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: server error
                          type: string
                        detail:
                          example: Something went wrong, please try again
                          type: string
                        status:
                          example: '500'
                          type: string
                        title:
                          example: Something went wrong
                          type: string
                      type: object
                    type: array
                type: object
          description: Internal Error
      security:
      - bearerAuth: []
      summary: Create a glossary file download action
      tags:
      - Glossaries
      x-released: true
      operationId: postGlossariesAsyncDownloads
      x-operation-id-source: derived
  /glossaries_async_downloads/{glossaries_async_download_id}:
    summary: Get glossary file download status
    get:
      description: 'With this endpoint, you can inquire about the status of a glossary download job.


        - If the value of the ''status'' attribute is ''pending'' or ''processing'', you

        should check this endpoint again later.

        - If the ''status'' is ''failed'', the glossary file has failed to be compiled.

        - In case the download job has been successful, you will receive a "303 - See

        Other" response and you can follow its `Location` to

        download the file

        that have been extracted from your file.'
      parameters:
      - description: Format of the glossaries_async_download_id should be a UUID.
        in: path
        name: glossaries_async_download_id
        required: true
        schema:
          example: 4abfc726-6a27-4c33-9d99-e5254c8df748
          pattern: ^([0-9a-f]{32}|[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    additionalProperties: false
                    properties:
                      attributes:
                        additionalProperties: false
                        properties:
                          date_created:
                            example: XXXX-XX-XXTXX:XX:XXZ
                            format: date-time
                            type: string
                          date_modified:
                            example: XXXX-XX-XXTXX:XX:XXZ
                            format: date-time
                            type: string
                          errors:
                            items:
                              additionalProperties: false
                              properties:
                                code:
                                  example: csv_generation_error
                                  type: string
                                detail:
                                  example: Could not decode JSON object
                                  type: string
                              required:
                              - code
                              - detail
                              type: object
                            type: array
                          status:
                            enum:
                            - pending
                            - processing
                            - failed
                            example: failed
                            type: string
                        required:
                        - status
                        - errors
                        - date_created
                        - date_modified
                        type: object
                      id:
                        example: 4abfc726-6a27-4c33-9d99-e5254c8df748
                        pattern: ^([0-9a-f]{32}|[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$
                        type: string
                      links:
                        additionalProperties: false
                        properties:
                          self:
                            example: /glossaries_async_downloads/4abfc726-6a27-4c33-9d99-e5254c8df748
                            type: string
                        required:
                        - self
                        type: object
                      relationships:
                        additionalProperties: false
                        properties:
                          glossary:
                            additionalProperties: false
                            properties:
                              data:
                                additionalProperties: false
                                description: Glossary data container.
                                properties:
                                  id:
                                    description: Glossary identifier.
                                    example: o:organization_slug:g:glossary_slug
                                    pattern: ^o:[a-zA-Z0-9._-]+:g:[a-zA-Z0-9_-]+$
                                    type: string
                                  type:
                                    enum:
                                    - glossaries
                                    type: string
                                required:
                                - type
                                - id
                                type: object
                              links:
                                additionalProperties: false
                                description: Glossary related link.
                                properties:
                                  related:
                                    description: Glossary details link.
                                    example: /glossaries/o:organization_slug:g:glossary_slug
                                    type: string
                                required:
                                - related
                                type: object
                            required:
                            - links
                            - data
                            type: object
                          language:
                            additionalProperties: false
                            description: 'The language that was requested for the download.

                              Will be absent if all glossary languages were requested.

                              '
                            properties:
                              data:
                                additionalProperties: false
                                description: Language data container.
                                properties:
                                  id:
                                    description: Language identifier.
                                    example: l:en_US
                                    pattern: ^l:[a-zA-Z0-9@_.-]+$
                                    type: string
                                  type:
                                    enum:
                                    - languages
                                    type: string
                                required:
                                - type
                                - id
                                type: object
                              links:
                                additionalProperties: false
                                description: Language related link.
                                properties:
                                  related:
                                    description: Language details link.
                                    example: /languages/l:en_US
                                    type: string
                                required:
                                - related
                                type: object
                            required:
                            - links
                            - data
                            type: object
                        required:
                        - glossary
                        type: object
                      type:
                        enum:
                        - glossaries_async_downloads
                        type: string
                    required:
                    - type
                    - id
                    - attributes
                    - relationships
                    - links
                    type: object
                required:
                - data
                type: object
          description: Successful response.
        '303':
          content:
            application/vnd.api+json:
              schema: {}
          description: See other
          headers:
            Location:
              description: The location of the glossary file.
              required: true
              schema:
                example: https://storage.svc.transifex.net/files/663a7a83-cb15-4c72-a37d-125dfb8432a6-file?auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZXMiOiJkb3dubG9hZCIsIm1ldGFkYXRhIjpudWxsLCJmaWxlX2lkcyI6IjY2M2E3YTgzLWNiMTUtNGM3Mi1hMzdkLTEyNWRmYjg0MzJhNi1maWxlIiwiZXhwIjoxNTg0NzE3NTkzLCJwcm92aWRlciI6InR4YyJ9.IHgLS4gtL0A6YZd-2zKkrg__geitcvs9DV8LcE8-1io
                type: string
        '401':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: unauthorized
                          type: string
                        detail:
                          example: Please verify your credentials
                          type: string
                        status:
                          example: '401'
                          type: string
                        title:
                          example: Unauthorized
                          type: string
                      type: object
                    type: array
                type: object
          description: Unauthorized
        '403':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: true
                      properties:
                        code:
                          example: forbidden
                          type: string
                        detail:
                          example: You do not have permissions to perform this action
                          type: string
                        status:
                          example: '403'
                          type: string
                        title:
                          example: Operation not allowed
                          type: string
                      type: object
                    type: array
                type: object
          description: Forbidden
        '404':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      properties:
                        code:
                          example: not found
                          type: string
                        detail:
                          example: Object not found. It may have been deleted or not been created yet
                          type: string
                        status:
                          example: '404'
                          type: string
                        title:
                          example: Object not found
                          type: string
                      type: object
                    type: array
                type: object
          description: Not found
        '429':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: Throttled
                          type: string
                        detail:
                          example: Request was throttled. Expected available in 60 seconds.
                          type: string
                        status:
                          example: '429'
                          type: string
                        title:
                          example: Throttled
                          type: string
                      type: object
                    type: array
                type: object
          description: Throttled
        '500':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: server error
                          type: string
                        detail:
                          example: Something went wrong, please try again
                          type: string
                        status:
                          example: '500'
                          type: string
                        title:
                          example: Something went wrong
                          type: string
                      type: object
                    type: array
                type: object
          description: Internal Error
      security:
      - bearerAuth: []
      summary: Get glossary file download status
      tags:
      - Glossaries
      x-released: true
      operationId: getGlossariesAsyncDownloadsByGlossariesAsyncDownloadId
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      description: 'To use the API you need to authenticate your requests using Token Authentication. Specifically, you need to


        * Acquire an authentication token from the Transifex (under user settings)

        * Uses the `Bearer` keyword and  prepend the token when passing the header.


        For example, if the authentication token is `1/0b4e75552e481aeae813aebad53f3de3fcc67ccd`, then the HTTP header should look like this:


        `Authorization: Bearer 1/0b4e75552e481aeae813aebad53f3de3fcc67ccd`


        To create an API token:


        1. Head to your User Settings by going to the main navigation, and clicking on your profile image in the top right corner.


        2. In the left menu, click on API token.


        3. Click Generate a token.


        Once you''ve generated a token, you can edit its name so it''s easier to remember where you use the token.


        To keep your API token secure, we''ll only show it once, so please be sure to save it somewhere secure.

        In case you lose your API token, you can regenerate a new one at any time. However, when you regenerate

        a new token, you''ll need to update your applications and replace the old token with the new one.

        '
      scheme: bearer
      type: http
