openapi: 3.0.1
info:
  contact:
    email: support@transifex.com
    name: Transifex Support
  description: "<br/>\n<br/>\n\n# Introduction\n\nThis API is based on **{json:api}**.\n\n{json:api} is a specification that follows shared conventions and standards. This specification enables API discoverability and partial\nself-descriptiveness through conventions. The Json Api specification exposes resources and their relationships representations with\nunique uris and all CRUD operations are performed on those endpoints. With it's simplified approach it assists the API uniformity.\n\nRead more: https://jsonapi.org/\n\nAdditionally, this API is defined using OpenAPI (ex Swagger). This means that you can easily:\n* Generate clients in your preferred: https://swagger.io/tools/swagger-codegen/\n* Download the specification file (see above) and use it in clients like Postman etc\n\n<br />\n<br />\n\n# Pagination\n\nAll list endpoints include pagination to guarantee performant responses. Those endpoints will return `next` and `previous` links in the\nresponse payload (`links` section). The client does not have to construct any pagination specific URLs or headers, just follow those\nlinks.\n\nPage size is fixed to 150 items per page.\n\n<br />\n<br />\n\n# Content Negotiation\n\nThe basic media type for the API is `application/vnd.api+json`. If you want to execute a request that includes data (`POST`, `PATCH`, `DELETE`)\nyou should include this media type in the `Content-Type` header. The only case where a different `Content-Type` header will be accepted is for\nendpoints that can accept file like objects where the media type used should be `multipart/form-data`.\n\nThe base media type this API responds is `application/vnd.api+json`. To retrieve the data in this media type you should include it in the `Accept`\nheader. The only case where the server will return another media type is for endpoint that return file like objects.\nIn this case the media type used should be `*/*` and the server will prioritize the negotiation to the media type dictated from the file.\nNote that `application/vnd.api+json` will be also available for accept header in these cases and will return a JSON serialized representation of the file.\n\nRead more here: https://jsonapi.org/format/#content-negotiation\n\n# File Uploads\n\nThere are three different methods for uploading file content to Transifex:\n* Using Content-Type `application/vnd.api+json` the content must\n    be JSON serializable.\n    - For content that is directly JSON serializable you can dump the content\n    of the file directly and set the `content_encoding` attribute  to `text`.\n    - For any content, even if it's not JSON serializable (eg .xlsx, .idml or .docx file extensions),\n    you can encode the file using the `base64` encoding and set the `content_encoding` attribute to `base64`.\n* Using Content-Type `multipart/form-data` the content can be any raw file, and can\n    be send without further processing.\n\n# Asynchronous Processing\n\nAsynchronous operations are triggered via a POST request. The response status in such cases is 202 Accepted, with a link in the Content-Location header.\nTo check the status of the operation, a client can send a request to the location given earlier.\nAn optional `callback_url` can be provided when the asynchronous operation is triggered. If such url is provided, upon completion\na HTTP POST request is executed containing all information required to identify the specific operation:\n\nExample request:\n```\nPOST callback_url HTTP/1.1\nContent-Type: application/json\n\n{\n  \"data\": {\n    \"type\": resource_strings_async_downloads\",\n    \"id\": \"xxxxxxxxx\",\n    \"attributes\": {\n      \"location\": \"https://rest.api.transifex.com/resource_strings_async_downloads/xxxxxxxxx\",\n      \"status\": \"succeeded\"\n    }\n  }\n}\n```\n\n# Restrictions\n\nThe following Plan based restrictions apply:\n* [Activity Reports](#tag/Activity-Reports) are available to Premium and up\n* [XLIFF export](#tag/Resource-Translations/paths/~1resource_translations_async_downloads/post) is available to Premium and up.\n* [Screenshots](#tag/Context-Screenshots) are available to Premium and up\n\n# Rate Limit\n\nTo maintain optimal performance and availability of the API, we limit the request rate to 500\nrequests/min or 30,000 requests / 5 minutes / IP. Polling endpoints like\n`resource_translations_async_downloads/{resource_translations_async_download_id}` and\n`resource_strings_async_downloads/{resource_strings_async_download_id}` have a rate limit of 1,200 requests/min.\nOnce past the respective limit, requests will be throttled and you will get a 429 Throttled response.\n\n\nExample response:\n```\n{\n  \"errors\": [\n    {\n      \"code\": \"Throttled\",\n      \"detail\": \"Request was throttled. Expected available in 60 seconds.\",\n      \"status\": \"429\",\n      \"title\": \"Throttled\"\n    }\n  ]\n}\n```\n\n# Authentication\n<!-- ReDoc-Inject: <security-definitions> -->\n"
  title: Transifex Activity Reports Project Webhooks API
  version: '3.0'
  x-logo:
    altText: Transifex logo
    backgroundColor: '#FFFFFF'
    url: transifex-blue-logo.svg
servers:
- url: https://rest.api.transifex.com
security:
- bearerAuth: []
tags:
- description: 'Project Webhooks lets you specify actions which will trigger some notification event. When that event occurs, Transfex application will make a HTTP request to the URL configured for the webhook (callback_url). The request is done as a HTTP POST request.

    For example a callback url will be triggered whenever a target language of a resource has fully been translated, enabling the client to implement a custom workflow to pull translations as soon as they are ready, without having to constantly check Transifex for updates.

    '
  name: Project Webhooks
paths:
  /project_webhooks:
    get:
      description: Get information for all the supported project webhooks.
      parameters:
      - description: Filter results by an organization
        in: query
        name: filter[organization]
        required: true
        schema:
          description: Organization identifier.
          example: o:org_123
          pattern: ^o:[a-zA-Z0-9._-]+$
          type: string
      - description: Filter results by a project
        in: query
        name: filter[project]
        required: false
        schema:
          description: Project identifier.
          example: o:organization_slug:p:project_slug
          pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+$
          type: string
      - description: 'The cursor used for pagination. The value of the cursor must be retrieved from pagination links included in previous responses; you should not attempt to write them on your own.

          '
        in: query
        name: page[cursor]
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of project webhook objects.
                    items:
                      additionalProperties: false
                      properties:
                        attributes:
                          additionalProperties: false
                          description: Project Webhook attributes.
                          properties:
                            active:
                              description: Whether the webhook will be triggered when the event occurs.
                              type: boolean
                            callback_url:
                              description: the url the webhook should call when triggered.
                              type: string
                            datetime_created:
                              example: XXXX-XX-XXTXX:XX:XXZ
                              format: date-time
                              nullable: true
                              type: string
                            datetime_modified:
                              example: XXXX-XX-XXTXX:XX:XXZ
                              format: date-time
                              nullable: true
                              type: string
                            event_type:
                              description: 'The event that when occurred will trigger the webhook.

                                The following events are supported:

                                * `translation_completed`

                                * `translation_updated_completed`

                                * `review_completed`

                                * `proofread_completed`

                                * `fillup_completed`

                                * `resource_language_stats`

                                * `task_tag_created`

                                * `task_tag_completed`


                                For details about when each of the events is fired, please visit https://help.transifex.com/en/articles/6216204-webhooks.

                                '
                              enum:
                              - all_events
                              - translation_completed
                              - translation_updated_completed
                              - review_completed
                              - proofread_completed
                              - fillup_completed
                              - resource_language_stats
                              - task_tag_created
                              - task_tag_completed
                              type: string
                            secret_key:
                              description: 'The secret key is used in order to validate the sender of the request as well as that the content is not tampered. The secret key will be included in the http request when the webhook is triggered.

                                The request will include the headers `X-TX-Signature-V2`, `Content-MD5`, `X-TX-Url`, `Date`


                                For more details about webhook verification, check https://help.transifex.com/en/articles/6216204-webhooks.

                                '
                              example: mysecret
                              type: string
                          required:
                          - event_type
                          - active
                          - callback_url
                          - secret_key
                          - datetime_created
                          - datetime_modified
                          type: object
                        id:
                          description: Project Webhook identifier.
                          example: o:organization_slug:p:project_slug:w:4abfc726-6a27-4c33-9d99-e5254c8df748
                          pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:w:([0-9a-f]{32}|[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$
                          type: string
                        links:
                          additionalProperties: false
                          description: Project Webhook self link.
                          properties:
                            self:
                              description: Project Webhook details link.
                              example: /project_webhooks/?filter[organization]=o:organization_slug&filter[organization]=o:organization_slug:p:project_slug
                              type: string
                          required:
                          - self
                          type: object
                        relationships:
                          additionalProperties: false
                          description: Project Webhook relationships.
                          properties:
                            project:
                              additionalProperties: false
                              description: Project object.
                              properties:
                                data:
                                  additionalProperties: false
                                  description: Project data container.
                                  properties:
                                    id:
                                      description: Project identifier.
                                      example: o:organization_slug:p:project_slug
                                      pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+$
                                      type: string
                                    type:
                                      enum:
                                      - projects
                                      type: string
                                  required:
                                  - type
                                  - id
                                  type: object
                                links:
                                  additionalProperties: false
                                  description: Project links.
                                  properties:
                                    related:
                                      description: Project details link.
                                      example: /projects/o:organization_slug:p:project_slug
                                      type: string
                                  required:
                                  - related
                                  type: object
                              required:
                              - links
                              - data
                              type: object
                          required:
                          - project
                          type: object
                        type:
                          enum:
                          - project_webhooks
                          type: string
                      required:
                      - type
                      - id
                      - attributes
                      - links
                      - relationships
                      type: object
                    type: array
                  links:
                    additionalProperties: false
                    description: Pagination links.
                    properties:
                      next:
                        description: Project Webhook cursor link.
                        example: /project_webhooks/?filter[organization]=o:organization_slug&filter[organization]=o:organization_slug:p:project_slug&page[cursor]=4abfc7266a274c339d99e5254c8df748
                        nullable: true
                        type: string
                      previous:
                        description: Project Webhook cursor link.
                        example: /project_webhooks/?filter[organization]=o:organization_slug&filter[organization]=o:organization_slug:p:project_slug&page[cursor]=4abfc7266a274c339d99e5254c8df748
                        nullable: true
                        type: string
                      self:
                        description: Project Webhook details link.
                        example: /project_webhooks/?filter[organization]=o:organization_slug&filter[organization]=o:organization_slug:p:project_slug
                        type: string
                    required:
                    - self
                    - next
                    - previous
                    type: object
                required:
                - data
                - links
                type: object
          description: Get a list of all the project webhooks of your organization.
        '401':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: unauthorized
                          type: string
                        detail:
                          example: Please verify your credentials
                          type: string
                        status:
                          example: '401'
                          type: string
                        title:
                          example: Unauthorized
                          type: string
                      type: object
                    type: array
                type: object
          description: Unauthorized
        '403':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: true
                      properties:
                        code:
                          example: forbidden
                          type: string
                        detail:
                          example: You do not have permissions to perform this action
                          type: string
                        status:
                          example: '403'
                          type: string
                        title:
                          example: Operation not allowed
                          type: string
                      type: object
                    type: array
                type: object
          description: Forbidden
        '404':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      properties:
                        code:
                          example: not found
                          type: string
                        detail:
                          example: Object not found. It may have been deleted or not been created yet
                          type: string
                        status:
                          example: '404'
                          type: string
                        title:
                          example: Object not found
                          type: string
                      type: object
                    type: array
                type: object
          description: Not found
        '500':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: server error
                          type: string
                        detail:
                          example: Something went wrong, please try again
                          type: string
                        status:
                          example: '500'
                          type: string
                        title:
                          example: Something went wrong
                          type: string
                      type: object
                    type: array
                type: object
          description: Internal Error
      security:
      - bearerAuth: []
      summary: List project webhooks.
      tags:
      - Project Webhooks
      x-released: true
    post:
      description: Create a new webhook. This needs to be associated with a project.
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              additionalProperties: false
              properties:
                data:
                  additionalProperties: false
                  description: Create project webhook body request details.
                  properties:
                    attributes:
                      additionalProperties: false
                      description: Project Webhook attributes.
                      properties:
                        active:
                          description: Whether the webhook will be triggered when the event occurs.
                          type: boolean
                        callback_url:
                          description: the url the webhook should call when triggered.
                          type: string
                        event_type:
                          description: 'The event that when occurred will trigger the webhook.

                            The following events are supported:

                            * `translation_completed`

                            * `translation_updated_completed`

                            * `review_completed`

                            * `proofread_completed`

                            * `fillup_completed`

                            * `resource_language_stats`

                            * `task_tag_created`

                            * `task_tag_completed`


                            For details about when each of the events is fired, please visit https://help.transifex.com/en/articles/6216204-webhooks.

                            '
                          enum:
                          - all_events
                          - translation_completed
                          - translation_updated_completed
                          - review_completed
                          - proofread_completed
                          - fillup_completed
                          - resource_language_stats
                          - task_tag_created
                          - task_tag_completed
                          type: string
                        secret_key:
                          description: 'The secret key is used in order to validate the sender of the request as well as that the content is not tampered. The secret key will be included in the http request when the webhook is triggered.

                            The request will include the headers `X-TX-Signature-V2`, `Content-MD5`, `X-TX-Url`, `Date`


                            For more details about webhook verification, check https://help.transifex.com/en/articles/6216204-webhooks.

                            '
                          example: mysecret
                          type: string
                      required:
                      - event_type
                      - active
                      - callback_url
                      type: object
                    relationships:
                      additionalProperties: false
                      description: Project Webhook parent relationships.
                      properties:
                        project:
                          additionalProperties: false
                          description: The `project` this webhook belongs to.
                          properties:
                            data:
                              additionalProperties: false
                              description: Project data container.
                              properties:
                                id:
                                  description: Project identifier.
                                  example: o:organization_slug:p:project_slug
                                  pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+$
                                  type: string
                                type:
                                  enum:
                                  - projects
                                  type: string
                              required:
                              - type
                              - id
                              type: object
                          required:
                          - data
                          type: object
                      required:
                      - project
                      type: object
                    type:
                      enum:
                      - project_webhooks
                      type: string
                  required:
                  - type
                  - attributes
                  - relationships
                  type: object
              required:
              - data
              type: object
        required: true
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    additionalProperties: false
                    properties:
                      attributes:
                        additionalProperties: false
                        description: Project Webhook attributes.
                        properties:
                          active:
                            description: Whether the webhook will be triggered when the event occurs.
                            type: boolean
                          callback_url:
                            description: the url the webhook should call when triggered.
                            type: string
                          datetime_created:
                            example: XXXX-XX-XXTXX:XX:XXZ
                            format: date-time
                            nullable: true
                            type: string
                          datetime_modified:
                            example: XXXX-XX-XXTXX:XX:XXZ
                            format: date-time
                            nullable: true
                            type: string
                          event_type:
                            description: 'The event that when occurred will trigger the webhook.

                              The following events are supported:

                              * `translation_completed`

                              * `translation_updated_completed`

                              * `review_completed`

                              * `proofread_completed`

                              * `fillup_completed`

                              * `resource_language_stats`

                              * `task_tag_created`

                              * `task_tag_completed`


                              For details about when each of the events is fired, please visit https://help.transifex.com/en/articles/6216204-webhooks.

                              '
                            enum:
                            - all_events
                            - translation_completed
                            - translation_updated_completed
                            - review_completed
                            - proofread_completed
                            - fillup_completed
                            - resource_language_stats
                            - task_tag_created
                            - task_tag_completed
                            type: string
                          secret_key:
                            description: 'The secret key is used in order to validate the sender of the request as well as that the content is not tampered. The secret key will be included in the http request when the webhook is triggered.

                              The request will include the headers `X-TX-Signature-V2`, `Content-MD5`, `X-TX-Url`, `Date`


                              For more details about webhook verification, check https://help.transifex.com/en/articles/6216204-webhooks.

                              '
                            example: mysecret
                            type: string
                        required:
                        - event_type
                        - active
                        - callback_url
                        - secret_key
                        - datetime_created
                        - datetime_modified
                        type: object
                      id:
                        description: Project Webhook identifier.
                        example: o:organization_slug:p:project_slug:w:4abfc726-6a27-4c33-9d99-e5254c8df748
                        pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:w:([0-9a-f]{32}|[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$
                        type: string
                      links:
                        additionalProperties: false
                        description: Project Webhook self link.
                        properties:
                          self:
                            description: Project Webhook details link.
                            example: /project_webhooks/?filter[organization]=o:organization_slug&filter[organization]=o:organization_slug:p:project_slug
                            type: string
                        required:
                        - self
                        type: object
                      relationships:
                        additionalProperties: false
                        description: Project Webhook relationships.
                        properties:
                          project:
                            additionalProperties: false
                            description: Project object.
                            properties:
                              data:
                                additionalProperties: false
                                description: Project data container.
                                properties:
                                  id:
                                    description: Project identifier.
                                    example: o:organization_slug:p:project_slug
                                    pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+$
                                    type: string
                                  type:
                                    enum:
                                    - projects
                                    type: string
                                required:
                                - type
                                - id
                                type: object
                              links:
                                additionalProperties: false
                                description: Project links.
                                properties:
                                  related:
                                    description: Project details link.
                                    example: /projects/o:organization_slug:p:project_slug
                                    type: string
                                required:
                                - related
                                type: object
                            required:
                            - links
                            - data
                            type: object
                        required:
                        - project
                        type: object
                      type:
                        enum:
                        - project_webhooks
                        type: string
                    required:
                    - type
                    - id
                    - attributes
                    - links
                    - relationships
                    type: object
                required:
                - data
                type: object
          description: Created.
          headers:
            Location:
              schema:
                example: /project_webhooks/o:organization_slug:p:project_slug:w:4abfc726-6a27-4c33-9d99-e5254c8df748
                type: string
        '400':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: invalid
                          type: string
                        detail:
                          example: Enter a valid `name` consisting of Unicode letters, numbers, underscores, or hyphens
                          type: string
                        source:
                          anyOf:
                          - properties:
                              pointer:
                                example: /data/attributes/name
                                type: string
                          - properties:
                              parameter:
                                example: ?filter[foo]
                                type: string
                        status:
                          example: '400'
                          type: string
                        title:
                          example: Field `name` is invalid
                          type: string
                      type: object
                    type: array
                type: object
          description: Invalid
        '401':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: unauthorized
                          type: string
                        detail:
                          example: Please verify your credentials
                          type: string
                        status:
                          example: '401'
                          type: string
                        title:
                          example: Unauthorized
                          type: string
                      type: object
                    type: array
                type: object
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      properties:
                        code:
                          example: not found
                          type: string
                        detail:
                          example: Object not found. It may have been deleted or not been created yet
                          type: string
                        status:
                          example: '404'
                          type: string
                        title:
                          example: Object not found
                          type: string
                      type: object
                    type: array
                type: object
          description: Not found
        '409':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: conflict
                          type: string
                        detail:
                          example: Value `some_field_value` already exists
                          type: string
                        source:
                          additionalProperties: false
                          properties:
                            pointer:
                              example: /data/attributes/some_field
                              type: string
                          type: object
                        status:
                          example: '409'
                          type: string
                        title:
                          example: Field `some_field` conflicted
                          type: string
                      type: object
                    type: array
                type: object
          description: Conflict
        '500':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: server error
                          type: string
                        detail:
                          example: Something went wrong, please try again
                          type: string
                        status:
                          example: '500'
                          type: string
                        title:
                          example: Something went wrong
                          type: string
                      type: object
                    type: array
                type: object
          description: Internal Error
      security:
      - bearerAuth: []
      summary: Create project webhook.
      tags:
      - Project Webhooks
      x-released: true
  /project_webhooks/{webhook_id}:
    parameters:
    - description: Format of composite id should be `o:organization_slug:p:project_slug:w:4abfc726-6a27-4c33-9d99-e5254c8df748.
      in: path
      name: webhook_id
      required: true
      schema:
        description: Project Webhook identifier.
        example: o:organization_slug:p:project_slug:w:4abfc726-6a27-4c33-9d99-e5254c8df748
        pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:w:([0-9a-f]{32}|[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$
        type: string
    summary: Get the details of a Project Webhook
    delete:
      description: Delete a project webhook from an organization.
      responses:
        '204':
          description: No Content
        '401':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: unauthorized
                          type: string
                        detail:
                          example: Please verify your credentials
                          type: string
                        status:
                          example: '401'
                          type: string
                        title:
                          example: Unauthorized
                          type: string
                      type: object
                    type: array
                type: object
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      properties:
                        code:
                          example: not found
                          type: string
                        detail:
                          example: Object not found. It may have been deleted or not been created yet
                          type: string
                        status:
                          example: '404'
                          type: string
                        title:
                          example: Object not found
                          type: string
                      type: object
                    type: array
                type: object
          description: Not found
        '500':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: server error
                          type: string
                        detail:
                          example: Something went wrong, please try again
                          type: string
                        status:
                          example: '500'
                          type: string
                        title:
                          example: Something went wrong
                          type: string
                      type: object
                    type: array
                type: object
          description: Internal Error
      security:
      - bearerAuth: []
      summary: Delete project webhook.
      tags:
      - Project Webhooks
      x-released: true
    get:
      description: Get the details of the project webhook specified by the required path parameter `webhook_id`.
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    additionalProperties: false
                    properties:
                      attributes:
                        additionalProperties: false
                        description: Project Webhook attributes.
                        properties:
                          active:
                            description: Whether the webhook will be triggered when the event occurs.
                            type: boolean
                          callback_url:
                            description: the url the webhook should call when triggered.
                            type: string
                          datetime_created:
                            example: XXXX-XX-XXTXX:XX:XXZ
                            format: date-time
                            nullable: true
                            type: string
                          datetime_modified:
                            example: XXXX-XX-XXTXX:XX:XXZ
                            format: date-time
                            nullable: true
                            type: string
                          event_type:
                            description: 'The event that when occurred will trigger the webhook.

                              The following events are supported:

                              * `translation_completed`

                              * `translation_updated_completed`

                              * `review_completed`

                              * `proofread_completed`

                              * `fillup_completed`

                              * `resource_language_stats`

                              * `task_tag_created`

                              * `task_tag_completed`


                              For details about when each of the events is fired, please visit https://help.transifex.com/en/articles/6216204-webhooks.

                              '
                            enum:
                            - all_events
                            - translation_completed
                            - translation_updated_completed
                            - review_completed
                            - proofread_completed
                            - fillup_completed
                            - resource_language_stats
                            - task_tag_created
                            - task_tag_completed
                            type: string
                          secret_key:
                            description: 'The secret key is used in order to validate the sender of the request as well as that the content is not tampered. The secret key will be included in the http request when the webhook is triggered.

                              The request will include the headers `X-TX-Signature-V2`, `Content-MD5`, `X-TX-Url`, `Date`


                              For more details about webhook verification, check https://help.transifex.com/en/articles/6216204-webhooks.

                              '
                            example: mysecret
                            type: string
                        required:
                        - event_type
                        - active
                        - callback_url
                        - secret_key
                        - datetime_created
                        - datetime_modified
                        type: object
                      id:
                        description: Project Webhook identifier.
                        example: o:organization_slug:p:project_slug:w:4abfc726-6a27-4c33-9d99-e5254c8df748
                        pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:w:([0-9a-f]{32}|[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$
                        type: string
                      links:
                        additionalProperties: false
                        description: Project Webhook self link.
                        properties:
                          self:
                            description: Project Webhook details link.
                            example: /project_webhooks/?filter[organization]=o:organization_slug&filter[organization]=o:organization_slug:p:project_slug
                            type: string
                        required:
                        - self
                        type: object
                      relationships:
                        additionalProperties: false
                        description: Project Webhook relationships.
                        properties:
                          project:
                            additionalProperties: false
                            description: Project object.
                            properties:
                              data:
                                additionalProperties: false
                                description: Project data container.
                                properties:
                                  id:
                                    description: Project identifier.
                                    example: o:organization_slug:p:project_slug
                                    pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+$
                                    type: string
                                  type:
                                    enum:
                                    - projects
                                    type: string
                                required:
                                - type
                                - id
                                type: object
                              links:
                                additionalProperties: false
                                description: Project links.
                                properties:
                                  related:
                                    description: Project details link.
                                    example: /projects/o:organization_slug:p:project_slug
                                    type: string
                                required:
                                - related
                                type: object
                            required:
                            - links
                            - data
                            type: object
                        required:
                        - project
                        type: object
                      type:
                        enum:
                        - project_webhooks
                        type: string
                    required:
                    - type
                    - id
                    - attributes
                    - links
                    - relationships
                    type: object
                required:
                - data
                type: object
          description: Successful Response.
        '401':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: unauthorized
                          type: string
                        detail:
                          example: Please verify your credentials
                          type: string
                        status:
                          example: '401'
                          type: string
                        title:
                          example: Unauthorized
                          type: string
                      type: object
                    type: array
                type: object
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      properties:
                        code:
                          example: not found
                          type: string
                        detail:
                          example: Object not found. It may have been deleted or not been created yet
                          type: string
                        status:
                          example: '404'
                          type: string
                        title:
                          example: Object not found
                          type: string
                      type: object
                    type: array
                type: object
          description: Not found
        '500':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: server error
                          type: string
                        detail:
                          example: Something went wrong, please try again
                          type: string
                        status:
                          example: '500'
                          type: string
                        title:
                          example: Something went wrong
                          type: string
                      type: object
                    type: array
                type: object
          description: Internal Error
      security:
      - bearerAuth: []
      summary: Get project webhooks details.
      tags:
      - Project Webhooks
      x-released: true
    patch:
      description: update a project webhook. You can for example modify its status.
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              additionalProperties: false
              properties:
                data:
                  additionalProperties: false
                  description: Update project webhook body request details.
                  properties:
                    attributes:
                      additionalProperties: false
                      description: ProjectWebhook attributes.
                      minProperties: 1
                      properties:
                        active:
                          description: Whether the webhook will be triggered when the event occurs.
                          type: boolean
                        callback_url:
                          description: the url the webhook should call when triggered.
                          type: string
                        event_type:
                          description: 'The event that when occurred will trigger the webhook.

                            The following events are supported:

                            * `translation_completed`

                            * `translation_updated_completed`

                            * `review_completed`

                            * `proofread_completed`

                            * `fillup_completed`

                            * `resource_language_stats`

                            * `task_tag_created`

                            * `task_tag_completed`


                            For details about when each of the events is fired, please visit https://help.transifex.com/en/articles/6216204-webhooks.

                            '
                          enum:
                          - all_events
                          - translation_completed
                          - translation_updated_completed
                          - review_completed
                          - proofread_completed
                          - fillup_completed
                          - resource_language_stats
                          - task_tag_created
                          - task_tag_completed
                          type: string
                        secret_key:
                          description: 'The secret key is used in order to validate the sender of the request as well as that the content is not tampered. The secret key will be included in the http request when the webhook is triggered.

                            The request will include the headers `X-TX-Signature-V2`, `Content-MD5`, `X-TX-Url`, `Date`


                            For more details about webhook verification, check https://help.transifex.com/en/articles/6216204-webhooks.

                            '
                          example: mysecret
                          type: string
                      type: object
                    id:
                      description: Project Webhook identifier.
                      example: o:organization_slug:p:project_slug:w:4abfc726-6a27-4c33-9d99-e5254c8df748
                      pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:w:([0-9a-f]{32}|[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$
                      type: string
                    type:
                      enum:
                      - project_webhooks
                      type: string
                  required:
                  - type
                  - id
                  - attributes
                  type: object
              required:
              - data
              type: object
        required: true
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    additionalProperties: false
                    description: List of project webhook objects in an organization
                    properties:
                      attributes:
                        additionalProperties: false
                        description: Project Webhook attributes.
                        properties:
                          active:
                            description: Whether the webhook will be triggered when the event occurs.
                            type: boolean
                          callback_url:
                            description: the url the webhook should call when triggered.
                            type: string
                          datetime_created:
                            example: XXXX-XX-XXTXX:XX:XXZ
                            format: date-time
                            nullable: true
                            type: string
                          datetime_modified:
                            example: XXXX-XX-XXTXX:XX:XXZ
                            format: date-time
                            nullable: true
                            type: string
                          event_type:
                            description: 'The event that when occurred will trigger the webhook.

                              The following events are supported:

                              * `translation_completed`

                              * `translation_updated_completed`

                              * `review_completed`

                              * `proofread_completed`

                              * `fillup_completed`

                              * `resource_language_stats`

                              * `task_tag_created`

                              * `task_tag_completed`


                              For details about when each of the events is fired, please visit https://help.transifex.com/en/articles/6216204-webhooks.

                              '
                            enum:
                            - all_events
                            - translation_completed
                            - translation_updated_completed
                            - review_completed
                            - proofread_completed
                            - fillup_completed
                            - resource_language_stats
                            - task_tag_created
                            - task_tag_completed
                            type: string
                          secret_key:
                            description: 'The secret key is used in order to validate the sender of the request as well as that the content is not tampered. The secret key will be included in the http request when the webhook is triggered.

                              The request will include the headers `X-TX-Signature-V2`, `Content-MD5`, `X-TX-Url`, `Date`


                              For more details about webhook verification, check https://help.transifex.com/en/articles/6216204-webhooks.

                              '
                            example: mysecret
                            type: string
                        required:
                        - event_type
                        - active
                        - callback_url
                        - secret_key
                        - datetime_created
                        - datetime_modified
                        type: object
                      id:
                        description: Project Webhook identifier.
                        example: o:organization_slug:p:project_slug:w:4abfc726-6a27-4c33-9d99-e5254c8df748
                        pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+:w:([0-9a-f]{32}|[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$
                        type: string
                      links:
                        additionalProperties: false
                        description: Project Webhook self link.
                        properties:
                          self:
                            description: Project Webhook details link.
                            example: /project_webhooks/?filter[organization]=o:organization_slug&filter[organization]=o:organization_slug:p:project_slug
                            type: string
                        required:
                        - self
                        type: object
                      relationships:
                        additionalProperties: false
                        description: Project Webhook relationships.
                        properties:
                          project:
                            additionalProperties: false
                            description: Project object.
                            properties:
                              data:
                                additionalProperties: false
                                description: Project data container.
                                properties:
                                  id:
                                    description: Project identifier.
                                    example: o:organization_slug:p:project_slug
                                    pattern: ^o:[a-zA-Z0-9._-]+:p:[a-zA-Z0-9_-]+$
                                    type: string
                                  type:
                                    enum:
                                    - projects
                                    type: string
                                required:
                                - type
                                - id
                                type: object
                              links:
                                additionalProperties: false
                                description: Project links.
                                properties:
                                  related:
                                    description: Project details link.
                                    example: /projects/o:organization_slug:p:project_slug
                                    type: string
                                required:
                                - related
                                type: object
                            required:
                            - links
                            - data
                            type: object
                        required:
                        - project
                        type: object
                      type:
                        enum:
                        - project_webhooks
                        type: string
                    required:
                    - type
                    - id
                    - attributes
                    - links
                    - relationships
                    type: object
                required:
                - data
                type: object
          description: Successful response
        '400':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: invalid
                          type: string
                        detail:
                          example: Enter a valid `name` consisting of Unicode letters, numbers, underscores, or hyphens
                          type: string
                        source:
                          anyOf:
                          - properties:
                              pointer:
                                example: /data/attributes/name
                                type: string
                          - properties:
                              parameter:
                                example: ?filter[foo]
                                type: string
                        status:
                          example: '400'
                          type: string
                        title:
                          example: Field `name` is invalid
                          type: string
                      type: object
                    type: array
                type: object
          description: Invalid
        '401':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: unauthorized
                          type: string
                        detail:
                          example: Please verify your credentials
                          type: string
                        status:
                          example: '401'
                          type: string
                        title:
                          example: Unauthorized
                          type: string
                      type: object
                    type: array
                type: object
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      properties:
                        code:
                          example: not found
                          type: string
                        detail:
                          example: Object not found. It may have been deleted or not been created yet
                          type: string
                        status:
                          example: '404'
                          type: string
                        title:
                          example: Object not found
                          type: string
                      type: object
                    type: array
                type: object
          description: Not found
        '409':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: conflict
                          type: string
                        detail:
                          example: Value `some_field_value` already exists
                          type: string
                        source:
                          additionalProperties: false
                          properties:
                            pointer:
                              example: /data/attributes/some_field
                              type: string
                          type: object
                        status:
                          example: '409'
                          type: string
                        title:
                          example: Field `some_field` conflicted
                          type: string
                      type: object
                    type: array
                type: object
          description: Conflict
        '500':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  errors:
                    items:
                      additionalProperties: false
                      properties:
                        code:
                          example: server error
                          type: string
                        detail:
                          example: Something went wrong, please try again
                          type: string
                        status:
                          example: '500'
                          type: string
                        title:
                          example: Something went wrong
                          type: string
                      type: object
                    type: array
                type: object
          description: Internal Error
      security:
      - bearerAuth: []
      summary: Update project webhook.
      tags:
      - Project Webhooks
      x-released: true
components:
  securitySchemes:
    bearerAuth:
      description: 'To use the API you need to authenticate your requests using Token Authentication. Specifically, you need to


        * Acquire an authentication token from the Transifex (under user settings)

        * Uses the `Bearer` keyword and  prepend the token when passing the header.


        For example, if the authentication token is `1/0b4e75552e481aeae813aebad53f3de3fcc67ccd`, then the HTTP header should look like this:


        `Authorization: Bearer 1/0b4e75552e481aeae813aebad53f3de3fcc67ccd`


        To create an API token:


        1. Head to your User Settings by going to the main navigation, and clicking on your profile image in the top right corner.


        2. In the left menu, click on API token.


        3. Click Generate a token.


        Once you''ve generated a token, you can edit its name so it''s easier to remember where you use the token.


        To keep your API token secure, we''ll only show it once, so please be sure to save it somewhere secure.

        In case you lose your API token, you can regenerate a new one at any time. However, when you regenerate

        a new token, you''ll need to update your applications and replace the old token with the new one.

        '
      scheme: bearer
      type: http
